.feed{
    display: inline-block;
}

.feed_form textarea{
    width:504px;

    display: block;
    padding:8px;
    font-family: "Tahoma","Helvetica", Arial, sans-serif;
}

.feed_form{width:525px;position: relative;display: inline-block;}


.feed_form .control .button.update{
    font-size: 14px;
    padding:10px 10px;

}

.feed_form .control{
    padding-top: 5px;
    display: inline-block;
    float:left;
}
.feed_form .control .item{
    float:left;
    
}

.feed_form .control div.attach{
    width:440px;
}

.feed_form .control div.update{
    width: 71px;
    padding-top: 10px;
    padding-left:9px;
    text-align: right;
    
}

.feed_form .control ul.control_list{
    padding:0 0 0px 0;
    margin:0px;
    list-style: none;
}
.feed_form .control ul.control_list li{display: inline;margin-right: 10px;}

.feed_rest{display: none;}


ul#attach_list, ul#attach_list li{list-style: none; padding:0px; margin: 0px;}
ul#attach_list li{display: inline; padding-right: 10px;}

textarea.comment_area{
    margin:0px;
    width:460px;
    font-size: 12px;
    padding:5px;
    resize: none;
}
li.nostyle{ border:none;}


ul.comments li.write_box, ul.comment_count li {border-left:3px solid #F0F4F5;}
ul.comment_count{font-size: 11px;}


.feed_form .qq-upload-button{
    width: 22px;
    padding: 0px;
}

.feed_form .qq-upload-list{
    display: block;
    width: 100%;
    padding: 0px;
}

.feed_form .attach_label{
    float: left;
    height: 22px;
    line-height: 23px;
    margin-right: 10px;
    color: rgb(120,120,120);
    font-size: 12px;
    font-weight: normal;
}

#feed_message_input:focus{
    outline: none; border:1px solid #34b0d9;
}