

ul.comments{display:none;}



.feed{
    display: inline-block;
}

.feed_form textarea{
    width:504px;

    display: block;
    padding:8px;
    font-family: "Tahoma","Helvetica", Arial, sans-serif;
}

.feed_form{width:525px;position: relative;display: inline-block;}



.feed_rest{display:inline-block;}


ul#attach_list, ul#attach_list li{list-style: none; padding:0px; margin: 0px;}
ul#attach_list li{display: inline; padding-right: 10px;}

textarea.comment_area{
    margin:0px;
    width:460px;
    font-size: 12px;
    padding:5px;
    resize: none;
}
li.nostyle{ border:none;}


ul.comments li.write_box, ul.comment_count li {border-left:3px solid #F0F4F5;}
ul.comment_count{font-size: 11px;}


#file-uploader{
    display: inline-block;
    padding: 0 10px 5px 10px;
    background-color: #FAFAFA;
}
.feed_box .qq-uploader{
    display: inline-block;
    width: 505px;
}
.feed_box .qq-upload-button{
    width: 22px;
    padding: 0px;
}

.feed_box .qq-upload-list{
    display: block;
    width: 505px;
    padding:0px;
    margin: 5px 0;
}

#file-uploader .attach_label{
    float: left;
    margin: 0px; padding: 0px;
    height: 22px;
    line-height: 23px;
    margin-right: 10px;
    color: rgb(120,120,120);
    font-size: 12px;
    font-weight: normal;
}


.stream_element .content .info{
    line-height: 22px;
}
.stream_element .content .info span{
    padding-bottom: 9px;
}
.stream_element .content .info .favor, .stream_element .content .info .unfavor{
    padding-left:18px;
    background-repeat: no-repeat;
    background-position: 0 -1px;
}
.stream_element .content .info .favor{
    background-image: url(/static/image/Icon_favorite_off.png);
}
.stream_element .content .info .unfavor{
    background-image: url(/static/image/Icon_favorite_on.png);
}
.stream .stream_element {
    padding: 15px 0px;
}

span.author_name{font-size: 12px; line-height: 16px; margin-right: 5px;}

.stream_element .content p.feed_content{color:#323232; padding-top:2px; padding-bottom: 2px;}


.stream_element .content p.feed_attach_image, .stream_element .content p.feed_attach{
    margin: 10px 0;
    padding: 0px 0 0px 3px;
    border-left: 3px solid #F0F0F0;
}
.stream_element .content p.feed_attach_image img{
    margin: 0 3px 0 4px;
    padding: 3px;
    height:72px;
    border: 1px solid #f0f0f0;
}
.stream_element .content p.feed_attach_image img:hover{
    border: 1px solid #b4b4b4;
}

.stream_element .content p.feed_attach span.ui_icon{
    background-position-y: -87px;
    margin-right: 5px;
}
.stream_element .content p.feed_attach{
    line-height: 30px;
}

.stream_element .content p.feed_attach a{
    display: block;
    font-size: 11px;
}

.stream_element .content p.comment_text{
    color:#323232;
    font-size: 12px;
    font-family: "Tahoma","Helvetica", Arial, sans-serif;
}


.d_message .stream_element, #message_list .stream_element{
    padding: 10px 0px;
}



.feed_box {
    float: left;
    width:100%;
    border: 1px solid #CCC;
}


.feed_box .qq-upload-button{
    padding: 0px;
}


.feed_box #file-uploader .custom_zone{
    float:left;
    padding: 4px 5px 0px 5px;
}

.feed_box .qq-upload-list li{
    background-image:url('/static/image/Box_address_505x22.png');
    background-repeat: no-repeat;
    float: left;
    width: 500px;
    padding: 0px 5px;
    margin-bottom: 3px;
    padding-right: 5px;
}
.feed_box .qq-upload-list li span{
    float: left;
}
.feed_box .qq-upload-list li span.ui_icon_delete{
    float: right;
    background-position: -198px -23px;
}

.feed_box #file-uploader .item.update{
    float:right;padding:0;
}



#feed_message_input{
    resize:none; width:495px; padding:10px 15px 0px 15px;font-family:'Tahoma','Helvetica', Arial, sans-serif; margin:0; border:none;
}
#feed_message_input:focus{
    border: none;
}



#feed_div{
    resize: none;
width: 495px;
padding: 10px 15px 0px 15px;
font-family: 'Tahoma','Helvetica', Arial, sans-serif;
margin: 0;
border: none;
font-size: 14px;
}

#feed_div:focus{
    border: none; outline: none;
}