.file_item{
    font-size: 12px;
    padding: 5px 5px;
    border-bottom: 1px solid #E9E9E9;
    height: 30px;
}
.file_item:hover{
    background-color: rgb(245,245,245);cursor: pointer;
}
.file_item:hover .file_name{text-decoration: underline;}

.file_name{
    margin: 0; padding: 0;
    padding-left: 5px;
    float: left;
    width: 375px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;text-align: center;
    color:rgb(50,90,170);
}
.file_item a:hover{
text-decoration: none;
}
.type_name{
    margin: 0; padding: 0;
    color: #323232;text-decoration: none;
    padding-left: 5px;
    float: left;
    width: 100px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
}

