{% include "meta_open.html" %}

<script type="text/javascript">
$(document).ready(function(){
    $("abbr").each(function(){
        $(this).text( humane_date( $(this).text() ) );
    });
    $(".comments").show();
    
    $("textarea.comment_area").elastic();
});
</script>

{% if event %}
<h2 class="page_title">Event Detail</h2>

<div class="tab">
<a href="#" onclick="return false;">
    <span class="tab_item back" onclick="history.back();">&laquo;</span>
    <span class="tab_item selected corner_top" onclick="select_this_tab($(this)); return false;" style="font-weight:normal;">
        {{ event.title }}
    </span>
</a>
</div>

<div class="stream event_stream" id="event_{{ event.id }}" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="right controls">
    {% if user.username == event.host %}
    <a href="#" class="delete stream_element_delete message" onclick="delete_detail_event($(this));" event_id="{{ event.id }}" title="지우기"><span class="ui_icon ui_icon_delete"></span></a>
    {% endif %}
  </div>
  <div class="sm_body">
    <a href="/user/{{ event.host }}" class="user_link">
      <img class="avatar author" src="{{ event.host_picture }}" data-person_id="2">
    </a>
    <div class="content">
      <div class="from">
        <a href="/user/{{ event.host }}" class="user_link">
          {{ event.host }}
        </a>
        <span class="author_name">{{ event.host_name }}
        </span>
        <span class="timeago" style="font-size:11px;">
          <abbr class="timeago event_time" title="2011-06-08 13:01:46 UTC">{{ event.reg_date }}</abbr>
        </span>
      </div>
      <p class="event_title" style="font-size:20px; border-left: 3px solid #E0E0E0; padding: 5px 10px; margin-top:5px;">
        {{ event.title }}
      </p>
      <p class="event_time" style="border-left: 3px solid #E0E0E0; padding: 0 10px;">
        <span class="start_time"><b>From</b> {{ event.start_time }}</span>
        {% if event.end_time != "None" %}<span class="end_time"><b>To</b> {{ event.end_time }}</span>{% endif %}
      </p>
      <p class="event_location" style="border-left: 3px solid #E0E0E0; padding: 0 10px;">
        <b>Where?</b> {{ event.location }}
      </p>
      <p style="border-left: 3px solid #E0E0E0; padding: 0 10px 5px 10px; margin-bottom:10px;">
          <b class="public_info">{% if event.public %}공개된 이벤트 입니다.{% else %}비공개 이벤트 입니다.{% endif %}</b>
      </p>
      {% if event.contents %}
      <p class="event_content" style="padding:10px 0px 20px 0px;">
        {{ event.contents }}
      </p>
      {% endif %}
      <div class="info" id="attend_info" style="margin-bottom:2px; background-color: #F0F4F5; padding:0.4em; border-left: 3px solid #F0F4F5;">
        <div class="event_attendee">
          <b class="public_info">참석자 리스트</b>
          <ul id="attendees_list" class="nostyle">
            {% for attendee in event.attendees %}
            <li class="attendee" username="{{ attendee.username }}" tipsy-text="@{{ attendee.username }}"><img src="{{ attendee.picture }}" /></li>
            {% endfor %}
          </ul>
        </div>
        
        {% if event.attend_open %}
        <div class="attend_action">
            <div>
                <span class="attending_status">
                {% if event.attend_status == 'yes' %}
                    회원님은 현재 참석 중입니다.
                {% else%}
                    {% if event.attend_status == 'no' %}
                    회원님은 현재 참석 중이 아닙니다.
                    {% endif %}
                    {% if event.attend_status == 'wait'%}
                    회원님은 현재 참석를 보류하셨습니다.
                    {% endif %}
                {% endif %}
                </span>
                <span class="description">이벤트에 참가 하시겠습니까?</span>
                <span class="actions">
            <a href="/" class="attend_btn yes_btn {% if event.attend_status == 'yes' %}hidden{% endif %}" event_id="{{ event.id }}" onClick="attend_event($(this),'yes'); return false;" id="update_btn">예</a>
            <a href="/" class="attend_btn no_btn {% if event.attend_status == 'no' %}hidden{% endif %}" event_id="{{ event.id }}" onClick="attend_event($(this), 'no'); return false;" id="update_btn">아니오</a>
            <a href="/" class="attend_btn wait_btn {% if event.attend_status == 'wait' %}hidden{% endif %}" event_id="{{ event.id }}" onClick="attend_event($(this), 'wait'); return false;" id="update_btn">보류</a>
            </span>
            </div>
            
            
        </div>
        {% endif %}
      </div>
      
      
      
      
<ul class="comments comment_count" id="1" >
<li><span><span class="comment_count_text">{{ event.comments|length }}</span>개의 댓글이 있습니다.</span></li>
</ul>

<ul class="comments comment_list" id="1">

<li class="comment posted template event_comment" data-guid="2">
    <div class="right controls">
        <a href="#" class="delete stream_element_delete" title="지우기" style="display:none;"><img alt="Deletelabel" src="/static/image/deletelabel.png?1307079878"></a>
    </div>
    <div class="user_image_box">
    <a href="/user/" class="user_link">
      <img alt="ujlikes@localhost" class="author avatar">
    </a>
    </div>
    <div class="content">
      <div class="from">
        <a href="/user/{{ comment.author }}" class="user_link"></a>
        <span class="author_name"></span>
        <time class="timeago">
          <abbr class="timeago comment_time"></abbr>
        </time>
      </div>
      <p class="comment_text"></p>
    </div>
</li>
{% for comment in event.comments %}
<li class="comment posted event_comment" data-guid="2">
    <div class="right controls">
        {% if user.username == comment.author %}
            <a href="#" class="delete stream_element_delete message" onclick="delete_detail_event_comment($(this));" comment_id="{{ comment.id }}" title="지우기"><img alt="Deletelabel" src="/static/image/deletelabel.png"></a>
        {% endif %}
    </div>
    <div class="user_image_box">
    <a href="/user/{{ comment.author }}" class="user_link">
      <img alt="ujlikes@localhost" class="author avatar" src="{{ comment.author_picture }}">
    </a>
    </div>
    <div class="content">
      <div class="from">
        <a href="/user/{{ comment.author }}" class="user_link">{{ comment.author }}</a>
        <span class="author_name">{{ comment.author_name }}</span>
        <time class="timeago">
          <abbr class="timeago comment_time">{{ comment.reg_date }}</abbr>
        </time>
      </div>
      <p class="comment_text">{{ comment.contents|safe }}</p>
    </div>
</li>
{% endfor %}
</ul>
 

<ul class="comments" id="1">
   <li class="write_box" style="border-left-width: 3px; border-left-style: solid; border-left-color: rgb(149, 189, 237); ">
    <img alt="ujlikes@localhost" class="current_user avatar" src="{{ user_profile.picture.url }}" title="ujlikes@localhost">
    <p style="position:relative; left:35px; margin-bottom:3px;">
        <textarea class="comment_area" id="comment_area_{{ event.id }}" style="width:405px; margin:0px; height:15px;" placeholder="Write Comment" onclick="return false;"></textarea>
    </p>
    <div class="submit_button">
       <input id="comment_submit_{{ event.id }}" type="submit" class="button_s" onblur="return false"  name="commit" value="Reply" onclick="var id=$(this).attr('id').split('_')[2]; ;update_event_comment(id); return false;"/>
    </div>
    </li>
</ul>
      
      
      
      
    </div>
  </div>
</div>
</div>
{% else %}
{{ error_message }}
{% endif %}


{% include "meta_close.html" %}