{% include "meta_open.html"%}

<h2 class="page_title">My Feed</h2>

<h4 style="padding-left:5px">Share Your Feed!</h4>
{% include "ui/feed_form.html"%}



<div class="tab">
<a href="#" onclick="load_feed('me'); return false;">
    <span class="tab_item selected corner_top" onclick="select_this_tab($(this)); return false;">My Feed</span>
</a>

<a href="#" onclick="load_feed('company'); return false;">
    <span class="tab_item corner_top" onclick="select_this_tab($(this)); return false;">Company Feed</span>
</a>

<a href="#" onclick="load_feed('notice'); return false;">
    <span class="tab_item corner_top" onclick="select_this_tab($(this)); return false;">Notice</span>
</a>
</div>



{% include "ui/feed_list.html"%}
<script type="text/javascript">
load_feed('{{ load_type }}');
    
    $("#update_btn").click(function(){
        upload_feed($(this)); 
        return false;
    });
</script>

<div id="loading_box">
<img src="/static/image/loading.gif" />
</div>
<div id="load_more_box">
<a href="#" onclick="load_more(); return false">
<p>Load more</p>
</a>
</div>
{% include "meta_close.html"%}