{% include "meta_open.html"%}

<h2 class="page_title">File</h2>

<table class="file_table list_table">
    <tr>
        <th width="260" class="first"><p>File Name</p></th>
        <th width="100" ><p>Format</p></th>
        <th width="190"><p>Uploader</p></th>
    </tr>
    
    {% for file in files.object_list %}
    <tr class="file_item list_item" onclick="window.open('/file/download/{{ file.id }}/');">
        <td class="first name">
            <span class="ui_icon ui_icon_file_{{ file.type }}"></span>
            <p class="ellipsis">{{ file.name }}</p>
            
        </td>
        <td ><p>{{ file.type_name }}</p></td>
        <td><p class="topic_detail">@{{ file.uploader }} <span style="color:#B4B4B4; font-size:11px;">({{ file.upload_date }})</span></p></td>
    </tr>
    {% endfor%}

</table>

{% include "ui/pagination.html" %}

{% include "meta_close.html"%}