<header>
<div class="container" style="position:relative;">

<a href="/">
<div class="logo_box">
    <div class="logo"></div>
</div>
</a>


<div class="noti_box">
    <div id="noti_selector" onclick="load_notis(); return false;">
        <b class="noti_count"></b>
    </div>
    <ul id="noti_list">
        <li class="header"><b>Notifications</b></li>
        <li class="noti_item_template">
            <img class="user_picture"/>
            <div class="noti_contents">
            <p class="message"></p>
            <p class="noti_time">
                <abbr class="timeago event_time" title="2011-06-08 13:01:46 UTC"></abbr>
            </p>
            </div>
        </li>
        <a href="/" class="see_more"><li class="noti_load_more">See All Notifications</li></a>
        
    </ul>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('#search_box_input').keyup(function(e) {
	    if(e.keyCode == 13) {
            var keyword=$("#search_box_input").val();
            keyword=remove_special(keyword);
	        location.href="/search/"+encodeURI(keyword);
	   	    e.preventDefault();
	   }
    });
    $(".ui_icon.ui_icon_search").click(function(){
        var keyword=$("#search_box_input").val();
        keword=remove_special(keyword);
	    location.href="/search/"+encodeURI(keyword);
    });
});
</script>
<div class="search_box">
<input type="text" placeholder="Search" id="search_box_input" style="border:0"/>
<span class="ui_icon ui_icon_search" style="float:right;"></span>
</div>



{% if user.is_authenticated %}

<div id="user_box" onclick="show_user_menu(event); return false;">
    <div class="user_info_box">
        <img src="{{ user_profile.picture.url }}" class="user_picture"/>
        <span class="" style="float:left;">
            {{ user.username }}
        </span>
        <span class="ui_icon ui_icon_arrow_white" style="float:left; margin:0;"></span>
    </div>
    <ul id="menu_list" onclick="stopEvent(event);">
        <a href="/user/{{ user.username }}"><li class="menu_item">My Profile</li></a>
        <a href="/setting/"><li class="menu_item">Setting</li></a>
        <a href="/signout/"><li class="menu_item">Logout</li></a>
    </ul>
</div>




{% else %}
<ul class="nostyle" style="float:right; color:white; padding:6px 0px;">
<li><a href="/signin/" style="color: #3f8fba;">Sign in</a></li>
<li><a href="/signup/" style="color: #3f8fba;">Sign up</a></li>
</ul>
{% endif %}
</div>
</header>




