{% include "meta_open.html"%}

<h2 class="page_title">Locations</h2>

<script type="text/javascript">
$(document).ready(function(){
    //load_feed('{{ load_type }}');
    initialize_search_map();
    get_random_feeds();
});

</script>

<div class="map_area">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<div id="map_canvas"></div>
</div>

<div class="tab">
<a href="#" onclick="return false;">
    <span class="tab_item selected corner_top" onclick="sreturn false;">Neer Feeds</span>
</a>
</div>

{% include "ui/feed_list.html"%}


<div id="loading_box">
<img src="/static/image/loading.gif" />
</div>
<div id="load_more_box">
<a href="#" onclick="load_location_feed('', $(this).attr('base_url'), true); return false">
<p>Load more</p>
</a>
</div>


{% include "meta_close.html"%}