{% include "meta_open.html"%}

<h2>Direct Message</h2>


{% include "ui/message_form.html" %}


<div style="margin: 10px;">
<a href="#" onclick="load_message('all'); return false;">All</a>
|
<a href="#" onclick="load_message('sent'); return false;">Sent</a>
|
<a href="#" onclick="load_message('received'); return false;">Received</a>
</div>
<script type="text/javascript">
$(document).ready(function(){
    load_message('{{ type }}');
});
</script>

{% include "ui/message_list.html" %}

{% include "meta_close.html"%}