{% include "meta_open.html"%}

<h2 class="page_title">Direct Message</h2>

{% if message %}
<script type="text/javascript">
$(document).ready(function(){
    $("abbr").each(function(){
        $(this).text( humane_date( $(this).text() ) );
    });
});
</script>

<div class="tab">
<a href="#" onclick="return false;">
    <span class="tab_item back" onclick="history.back();">&laquo;</span>
    <span class="tab_item selected corner_top" onclick="select_this_tab($(this)); return false;" style="font-weight:normal;">
        From. <b style="color:#325AAA">{{ message.author.username }}</b>  -> To. <b style="color:#325AAA">{{ message.receivers }}</b>
    </span>
</a>
</div>

<div class="d_message">
<div class="stream" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="left controls">
    {% if user.username == message.author.username %}
    <a href="#" class="delete stream_element_delete message" title="지우기"><span class="ui_icon ui_icon_delete"></span></a>
    {% endif %}
  </div>
  <div class="sm_body">
    <a href="/user/{{ message.author.username }}" class="user_link">
      <img class="avatar {% if user.username == message.author.username %}right_avatar{% endif %}" 
        src="{{ message.author_profile.picture.url }}">
    </a>
    <div class="content {% if user.username == message.author.username %}right_content{% endif %}">
      <div class="from">
        <a href="/user/{{ message.author.username }}" class="user_link">
          {{ message.author.username }}
        </a>
      </div>
      <p class="message_content">
        {{ message.contents|safe }}
      </p>
      <div class="info">
        
        <span class="timeago">
          <abbr class="timeago message_time">{{ message.reg_date }}</abbr>
        </span>
      </div>

    </div>
  </div>
</div>
</div>

</div>

<div id="message_reply_list" message_id={{ message.id }}>

<div class="stream template" data-guids="3,4" id="main_stream"><div class="stream_element reply_element" data-guid="1">
  <div class="left controls">
    <a href="#" class="delete stream_element_delete message" title="지우기"><img alt="Deletelabel" src="/static/image/deletelabel.png?1307079878"></a>
  </div>
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar right_avatar" src="/media/default.png" />
    </a>
    <div class="content right_content">
      <div class="from">
        <a href="/user/" class="user_link"></a>
      </div>
      <p class="reply_contents"></p>
      <div class="info">
        <span class="timeago">
          <abbr class="timeago reply_time"></abbr>
        </span>
      </div>

    </div>
  </div>
</div>
</div>

{% for reply in replies %}
<div class="stream" id="reply_{{ reply.id }}"><div class="stream_element reply_element" data-guid="1">
  <div class="left controls">
    {% if user.username == reply.author.username %}
    <a href="#" class="delete stream_element_delete message" title="지우기" onclick="delete_reply($(this)); return false;" reply_id="{{ reply.id }}"><span class="ui_icon ui_icon_delete"></span></a>
    {% endif %}
  </div>
  <div class="sm_body">
    <a href="/user/{{ reply.author.username }}" class="user_link">
      <img class="avatar {% if user.username == reply.author.username %}right_avatar{% endif %}" 
        src="{{ reply.author_profile.picture.url }}">
    </a>
    <div class="content {% if user.username == reply.author.username %}right_content{% endif %}">
      <div class="from">
        <a href="/user/{{ reply.author.username }}" class="user_link">
          {{ reply.author.username }}
        </a>
      </div>
      <p class="message_content">
        {{ reply.contents|safe }}
      </p>
      <div class="info">
        
        <span class="timeago">
          <abbr class="timeago message_time">{{ reply.reg_date }}</abbr>
        </span>
      </div>

    </div>
  </div>
</div>
</div>
{% endfor %}
</div>

<div id="message_reply_form" message_id={{ message.id }}>


<div class="stream" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="right controls"></div>
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar" src="{{ user_profile.picture.url }}">
    </a>
    <div class="content">
      <p style=" margin-bottom:3px;">
        <textarea class="reply_area autogrow" id="reply_area_{{ message.id }}" style=" margin:0px; height:40px; width:455px; resize:none;"></textarea>
      </p>
      
      <div class="submit_button ">
       <input id="reply_submit_{{ message.id }}" type="submit" class="button_s" onblur="return false"  name="reply" value="Reply" onclick="send_reply('{{ message.id }}'); return false;"/>

      </div>
    </div>
  </div>
</div>
</div>

</div>


</div>
{% else %}
<span>{{ error_message }}</span>
<a href="#" onclick="history.back(); return false;">go back</a>
{% endif %}


{% include "meta_close.html"%}