<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">

<title>Cloud 31</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/application.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/sidebar.css?{{ csrf_token }}" type="text/css" />

<link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

<script src="{{ STATIC_URL }}js/jquery-1.6.1.min.js?{{ csrf_token }}" type="text/javascript"></script>


<script src="{{ STATIC_URL }}js/facebox/facebox.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.elastic.source.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.highlight-3.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.13.custom.min.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/fileuploader.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tipsy.js?{{ csrf_token }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy/tipsy.css?{{ csrf_token }}" type="text/css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing-1.3.pack.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/ui/datepicker.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui/feed.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui/topic.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui/file.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui/autocomplete.css?{{ csrf_token }}" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/fileuploader.css" type="text/css" />


<script src="{{ STATIC_URL }}js/feed.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/topic.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/event.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/notifications.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/message.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/etc.js?{{ csrf_token }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/utils.js?{{ csrf_token }}" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}js/sidebar.js?{{ csrf_token }}" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}js/locations.js?{{ csrf_token }}" type="text/javascript"></script>
<!--[if IE]>
    <script src="{{ STATIC_URL }}js/ie.js?1307079878" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" />
<![endif]-->
{% if user.is_staff %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css?123" type="text/css" />
<script src="{{ STATIC_URL }}js/admin.js?{{ csrf_token }}" type="text/javascript"></script>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
    $('a[rel*=facebox]').facebox();
    $("a.fancy_image").fancybox();
    $('[tipsy-text]').tipsy({trigger: 'hover', gravity: 'w',title:'tipsy-text'});
    $('.autogrow').elastic();
    
    get_notis_count();

    
    $(document).click(function() {
        hide_noti();
        hide_user_menu();
        
        $("#auto_complete_list").hide();
    });
});


</script>

</head>
<body class="" screen_capture_injected="true">
{% include "header.html" %}

<div class="container main_container">

{% include "left_bar.html" %}

<div class="main span-13">
<div class="main_contents">