    </div>
    
</div> <!-- close main div.container -->

{% include "right_bar.html" %}
</div>

{% include "footer.html" %}
<div class="hidden">
<a id="user_name_info" style="display:none">{{ user.username }}</a>
<a id="csrf_token" style="display:none">{{ csrf_token }}</a>
</div>



<div id="facebox" style="display: none; ">
    <div class="popup">
        <div class="content"></div>
        <a href="#" class="close"><img src="/static/js/facebox/closelabel.png" title="close" class="close_image"></a>
    </div>
</div>




</body>
</html>