{% include "meta_open.html"%}

<h2>{{ target_user.user.username }}님의 프로필</h2>

<script src="{{ STATIC_URL }}js/feed.js" type="text/javascript"></script>


<a href="#" onclick="load_feed('user#{{target_user.user.username}}'); return false;">{{target_user.user.username}}'s Feed</a>
|
<a href="#" onclick="load_feed('favorite#{{target_user.user.username}}'); return false;">{{target_user.user.username}}'s Favorite</a>

<script type="text/javascript">
$(document).ready(function(){
    load_feed('{{ load_type }}');
});
</script>

{% include "ui/feed_list.html"%}

{% include "meta_close.html"%}