<div class="rightBar span-5" style="margin:0px;margin-left:4px;">

<div style="margin-top:55px;">
{% if user.is_authenticated %}


{% if 'user_profile' in side_list%}
<div title="user_profile">
<a href="/user/{{ current_user }}"><img src="/picture/{{ current_user }}"  style="width:190px; height:190px;"/></a>
<h2>{{ current_user.username }}</h2>
<h3 style="margin:0px">{{ current_user.last_name }}</h3>
<b>
{{ user_profile.position }} 
{% if user_profile.dept %}
| {{ user_profile.dept }}
{% endif %}
</b>
</div>
{% endif %}


{% if 'event_calendar' in side_list%}
<script type="text/javascript">
$(document).ready(function(){
    $('.event_calendar').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
        beforeShowDay: function(date) {
            if(date.getDate()%5 == 1)
                return [true, "bold"];
            else
                return [true, "normal"]
        },
        onSelect: function(dateText, inst){
            $(".date_header").text("* Events on "+dateText);
        }
    });
});
</script>
<div class="event_calendar" >
<h4>Event Calendar</h4>
</div>
<div class="event_list">
<b class="date_header"></b>
</div>
{% endif %}


{% endif %}
</div>

</div>