<div class="rightBar span-5" style="margin:0px;">


{% if user.is_authenticated %}


{% if 'tab_info' in side_list%}
{% include "sidebar/tab_info.html" %}
{% endif %}

{% if 'search_topic' in side_list%}
{% include "sidebar/search_topic.html" %}
{% endif %}

{% if 'search_file' in side_list%}
{% include "sidebar/search_file.html" %}
{% endif %}

{% if 'search_member' in side_list%}
{% include "sidebar/search_member.html" %}
{% endif %}

{% if 'topic_detail' in side_list%}
{% include "sidebar/topic_detail.html" %}
{% endif %}

{% if 'user_profile' in side_list%}
{% include "sidebar/user_profile.html" %}
{% endif %}


{% if 'event_calendar' in side_list%}
{% include "sidebar/event_calendar.html" %}
{% endif %}

{% include "sidebar/poll.html" %}
{% include "sidebar/dialog.html" %}
{% include "sidebar/invitation.html" %}

{% endif %}



</div>