<div class="rightBar span-5" style="margin:0px;margin-left:4px; padding-top:40px;">



<ul class="nostyle">
{% if user.is_authenticated %}


{% if 'user_profile' in side_list%}
<div title="user_profile">
<a href="/user/{{ current_user }}"><img src="/picture/{{ current_user }}"  style="width:100%;"/></a>
<h2>{{ current_user }}</h2>
<b></b>
</div>
{% endif %}


{% if 'event_calendar' in side_list%}
<script type="text/javascript">
$(document).ready(function(){
    $('.event_calendar').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
        beforeShowDay: function(date) {
            if(date.getDate()%5 == 1)
                return [true, "bold"];
            else
                return [true, "normal"]
        }
    });
});
</script>
<div class="event_calendar" >
<h4>Event Calendar</h4>
</div>
{% endif %}


{% endif %}
</ul>
</div>