{% include "meta_open.html"%}

<h2 class="page_title">Settings</h2>

<div class="tab">
<a href="#" onclick="$('.setting_list').hide(); $('.account_setting').show();return false;">
    <span class="tab_item selected corner_top" onclick="select_this_tab($(this)); return false;">Acccount</span>
</a>

<a href="#" onclick="$('.setting_list').hide(); $('.profile_setting').show(); return false;">
    <span class="tab_item corner_top" onclick="select_this_tab($(this)); return false;">Profile</span>
</a>

<a href="#" onclick="$('.setting_list').hide(); $('.notification_setting').show(); return false;">
    <span class="tab_item corner_top" onclick="select_this_tab($(this)); return false;">Notification</span>
</a>
</div>


<script type="text/javascript">
$(document).ready(function(){
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '/setting/picture/set',
        sizeLimit: 0, // max size
        minSizeLimit: 0, // min size
        debug: true,
        params:{
            title: 'Select a Image'
        },
        onComplete: function(id, fileName, responseJSON){
            console.log(responseJSON);
            
            $(document).find(".setting_picture").each(function(){
               var src="/media/" + responseJSON.url;
               if($(this)[0].tagName == 'A')
                 $(this).attr("href",src+"?"+new Date().getTime());
               else
                 $(this).attr("src",src+"?"+new Date().getTime());
            });
        },
    });
});
</script>





{% include "ui/setting_account.html" %}


{% include "ui/setting_profile.html" %}




<ul class="notification_setting setting_list {{ account_setting }}" style="display:none;">

</ul>


{% include "meta_close.html"%}