{% include "meta_open.html"%}

<h2>Setting</h2>




<script src="{{ STATIC_URL }}js/fileuploader.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/fileuploader.css" type="text/css" />

<script type="text/javascript">
$(document).ready(function(){
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '/picture/set',
        sizeLimit: 0, // max size
        minSizeLimit: 0, // min size
        debug: true,
        onComplete: function(id, fileName, responseJSON){
            console.log(responseJSON);
            
        },
    });
});
</script>

<div id="file-uploader">       
    <noscript>          
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>         
</div>


{% include "meta_close.html"%}