{% include "meta_open.html"%}

{% if user.is_authenticated %}
{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
{% else %}
<div>
<h3>Sign in</h3>

{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
<form action="/signin/" method="POST" class="login_form">
{% csrf_token %}

<input type="hidden" name="next" value="{{next_url}}" />
<input type="text" name="username" placeholder="Username" />
<input type="password" name="password" placeholder="Password" />
<input type="submit" value="Sign in" class="button" />
</form>

</div>




{% endif %}

{% include "meta_close.html"%}