{% include "meta_open.html"%}

{% if user.is_authenticated %}
{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
{% else %}
<div style="text-align:center;">


{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
<form action="/signin/" method="POST" class="login_form" style="text-align:center; display:inline-block;"> 
{% csrf_token %}
<img class="rotation" src="{{ STATIC_URL }}image/asterisk.png" style="margin-bottom: 15px;"/>
<h3>Sign in</h3>
<input type="hidden" name="next" value="{{next_url}}" />
<input type="text" name="username" placeholder="Username" />
<input type="password" name="password" placeholder="Password" />
<input type="submit" value="Sign in" class="button" />
</form>

</div>

<style>
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
img.rotation
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    }
</style>



{% endif %}

{% include "meta_close.html"%}