{% include "meta_open.html"%}
{% include "header.html" %}

{% if user.is_authenticated %}
{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
{% else %}
<div>
<h3>Login</h3>

{% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
<form action="/signin/" method="POST">
{% csrf_token %}

<input type="hidden" name="next" value="{{next_url}}" />
<label>Username</label><input type="text" name="username" /> <br />
<label>Password</label><input type="password" name="password" /> <br />

<input type="submit" value="Submit" />
</form>

</div>
{% endif %}

{% include "meta_close.html"%}