{% include "meta_open.html"%}

<h2>Topics > {{ topic_name }}</h2>


<div class="tab">
<a href="#" onclick="return false;">
    <span class="tab_item back" onclick="history.back();">&laquo;</span>
    <span class="tab_item selected corner_top" onclick="select_this_tab($(this)); return false;">
        #{{ topic_name }}
    </span>
    <span class="tab_add ui_icon ui_icon_add"></span>
    <span class="tab_remove ui_icon ui_icon_remove"></span>
</a>
</div>

<script src="{{ STATIC_URL }}js/feed.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    load_feed(encodeURI('{{ load_type }}'));
});
</script>
{% include "ui/feed_list.html"%}

{% include "meta_close.html"%}