{% include "meta_open.html"%}

<h2 class="page_title">Topics</h2>

<table class="topic_table">
    <tr>
        <th width="160" class="first"><p>Topic Name</p></th>
        <th width="90" ><p>Messages</p></th>
        <th width="265"><p>Topic Detail</p></th>
    </tr>
    
    {% for topic in topics.object_list %}
    <tr class="topic_item" onclick="document.location.href='/topic/{{ topic.topic_name }}';">
        <td class="topic_name first"><p>{{ topic.topic_name }}</p></td>
        <td ><p>#</p></td>
        <td><p class="ellipsis topic_detail">{{ topic.topic_detail|striptags|safe }}</p></td>
    </tr>
    {% endfor%}
</table>

{% include "ui/pagination.html" %}

{% include "meta_close.html"%}