.overview_table{
    margin: 0;
}
.overview_table tr th{
    border-bottom: 1px solid #B4B4B4;
}
.overview_table tr td{
    border-bottom: 1px solid #F0F0F0;
}
.overview_table tr th, .overview_table tr td{
    padding-left: 10px;
    font-size: 12px;
    color: #323232;
}

.overview_item{
    margin-bottom: 30px;
    color: #323232;
    float: left;
width: 100%;
}
.overview_item h4{
    line-height: 24px;
}
object{
    margin: 10px 0px;
}
.title_box{
    padding-bottom: 10px;
}


.chart_date_select{
    float: left;
    width: 100%;
    text-align: left;
    line-height: 25px;
}

.chart_date_select input[type=text].datepicker{
    padding: 5px 2px;
    background-image: none;
    font-size: 11px;
    margin: 0px;
    float: left;
}
.chart_date_select b{
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}
.chart_date_select input[type=submit]{
    float: left;
    margin-left: 10px;
}
.chart_date_select .first_line{
    line-height:25px;float:left;width:100%;margin-bottom:5px;
}

#user_name_input, #topic_name_input{
    padding: 5px 2px;
background-image: none;
font-size: 11px;
width: 167px;
margin: 0px;
float: left;
}



#detect_list{
    margin: 10px 0px;
    float: left;
    width: 100%;
}
#detect_list p{margin: 0; padding: 0;}

#detect_list ul{
    padding: 0px; margin: 5px 0;
    float: left;
    width: 500px;
}
#detect_list ul li{
    display: inline;float: left; margin: 5px 3px;
    border: 1px solid #F0F0F0; padding: 1px 5px;
    font-size: 12px;
    background-color: #FAFAFA;
    cursor: pointer;
}
#detect_list ul li:hover{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #A0A0A0;
    background-color: #EBFAFA;
}

