

.sidebar_header{
    font-size: 14px;
    color: #323232;
    padding: 3px 0;
    margin: 0 0 5px 0px;
}
.side_item{
    padding: 0 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    float:left;
}

.user_profile_box{
}

.user_profile_box p{
    margin: 0px 0; padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #787878;
}

.user_profile_box p.user_id{
    font-weight: bold; color: #323232;
    font-size: 14px;
}

.user_picture_box{
    margin-bottom: 10px;
}
.user_picture_box .user_picture{
   width: 180px; height: 180px;
}

.user_profile_box p.user_detail{
    margin: 2px 0 6px 0;
    font-size: 12px;
    padding: 2px 0;
    
}

.user_related_topics, .topic_related_users{
    margin: 0; padding: 5px 0 0 0;
    border-top: 1px solid #E0E0E0;
}
.user_related_topics b, .topic_related_users b{
    
}
.user_related_topics li, .topic_related_users li{
    color: #325AAA;
}

input[type='text'].search_topic_input,input[type='password'].search_topic_input{
    font-size: 12px;
    padding: 4px 5px;
    width: 157px;
    float: left;
}

.search_topic_box{
    overflow-x: hidden;
}

.search_topic_box span.keyword{
    font-size: 12px;
    float: left;
    width: 16px;
    padding: 0px 2px;
    margin: 2px 0;
    text-align: center;
    border-left: 1px solid #B4B4B4;
    
    
}
.search_topic_box span.keyword a{
    color: #323232;
}
.search_topic_box span.keyword a:hover{
    color: #325AAA;
}
.num_index, .en_index, .ko_index{
    float: left;
    width: 170px;
    margin: 5px 0;margin-left: -1px;
}
.num_index span.keyword{
    border:1px solid white;
}
.topic_detail_box{
    margin: 10px 0 15px 0;
}
.topic_detail_box p{
    margin: 0; padding: 0;
}
.topic_detail_box ul{margin: 0;padding-left:20px;}
.topic_detail_box li{margin: 0; list-style-type: disc;}

.topic_related_users li{
   float: left;
}
.topic_related_users img{
    width: 30px;
    height: 30px;
    margin-right: 2px;
    padding: 1px;
    border: 1px solid #F0F0F0;
}
.topic_related_users img:hover{
    border: 1px solid #323232;
}

.topic_related_users .list_header{
    margin-bottom: 5px;
}

.edit_btn{
    font-weight: normal;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 0px;
}


input[type="text"].invite_input, input[type="password"].invite_input{
    font-size: 12px;
padding: 4px 5px;
width: 157px;float: left;
}
input[type="text"].dialog_input{
    font-size: 12px;
padding: 4px 5px;
width: 157px;
    float: left;
}

#dialog_list{
    position: relative;
    padding: 0 5px;
/*     border: 1px solid #F0F0F0; */
    float: left; width:180px;
}
.dialog_item {
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #F0F0F0;
}
.dialog_item.last{
    border-bottom: 0px;
}
.dialog_item p{
    margin: 0; padding: 0;
}
.dialog_item .user_info{
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    font-size: 12px;
}
.dialog_item .user_info .user_link{
    font-weight: bold;
    
}
.dialog_item .dialog_message{
    font-size: 12px;
    color: #323232;
}
.dialog_item  .dialog_time{
    font-size: 10px;
}