

.sidebar_header{
    font-size: 14px;
    color: #323232;
    padding: 3px 0;
    margin: 0 0 5px 0px;
}
.side_item{
    padding: 0 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
/*     border-bottom: 1px solid #dcdcdc; */
}
.user_profile_box{
}

.user_profile_box p{
    margin: 0px 0; padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #787878;
}

.user_profile_box p.user_id{
    font-weight: bold; color: #323232;
    font-size: 14px;
}

.user_picture_box{
    margin-bottom: 10px;
}
.user_picture_box .user_picture{
   width: 180px; height: 180px;
}

.user_profile_box p.user_detail{
    margin: 2px 0 6px 0;
    font-size: 12px;
    padding: 2px 0;
    
}

.user_profile_box ul.user_related_topics{
    margin: 0; padding: 5px 0 0 0;
    border-top: 1px solid #E0E0E0;
}
.user_profile_box ul.user_related_topics b{
    
}
.user_profile_box ul.user_related_topics li{
    color: #325AAA;
}