.container.sign_container{
    
    text-align: center;
    height: 100%;
    overflow-y: hidden;
}

.login_form{
    width:200px;
}
.register_form{width:460px;}

.signin_logo{
    margin-bottom: 28px;
}

.sign_form .password, .sign_form .id{
    width: 167px;
    margin: 0 auto;
    margin-top: 5px; margin-bottom: 5px;
    
    border: 0;
}

.sign_form input:not([type='submit']):not([type='reset']).checkbox{
    display: inline;top:1px;margin: 0;
    
}
.sign_form .keep_signed{   
    padding: 0px 3px;
    font-size: 12px;
    color: rgb(120,120,120);
}

.keep_box{
    margin: 10px; 0;
}
.keep_box input{
    padding-left: 10px;
}

.submit_box{
    margin-bottom: 30px;
}

.signup{
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}


.signin_footer{
    margin-top: 46px;
    text-align: center;
}

.register_form{
    float:left
}

.register_btn{
}
.register_desc{
    float: left;
    width: 470px;
    height: 345px;
    background-image: url(/static/image/Introduction_logo.png);
    background-repeat: no-repeat;
    background-position: 200px 80px;
}



.input_box{
    text-align: left;
    margin-bottom: 10px;
    font-size: 11px;
    display: inline-block;
    width: 100%;
}
.input_box label{
    font-size: 11px;
    padding-bottom: 5px;
    display: block;
    
}
.sign_form .input_box .password, .sign_form .input_box .id{
    margin: 0;
    float:left;
}

.input_alert{
}
.input_desc{
    padding: 0;
    margin: 0;
    line-height: 30px;
    padding-left: 10px;
    float:left;
    color: #ff4848;
    display: none;
}

h3.register_title{
    text-shadow: #eee 0 1px 1px;
    text-align:left; width:600px; margin:0 auto; font-size:20px;color:#323232;
    padding-bottom: 20px;
}


