@import url("autocomplete.css");

.wrapper{}

header{
    width:100%;
    height:45px;
    padding:0px 0px;
    background-image: url('/static/image/header_bg.png');
    background-repeat: repeat-x;
}

.main{
}
.main_contents{
    width:100%;
}


.login_form, .register_form{
    width:200px;
}
.register_form label{
    display: none;
}

.button{
    margin:0;
}


h3.message{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  color: #d0312b;
  text-shadow: 1px 1px 20px #d0312b; 
}


.template{
    display:none;
}

ul.nostyle, ul.nostyle li{list-style: none; padding:0px; margin:0px;}
ul.nostyle li{display: inline; padding-right: 10px;}



a.detect_item:hover{text-decoration: none;}
a.detect_item span:hover{text-decoration: underline;}


.msg_avatar{ width:50px; height:50px;}

textarea{overflow-y: hidden;}


.message_form{border-bottom:1px solid #DDD; display: inline-block; padding-bottom: 15px;}
.message_form div div.label{
    float:left; width:60px; text-align: right; font-weight: bold; margin:3px 5px 0 0; 
    font-size: 14px;
}
.message_form div textarea{width: 515px;}
.message_form div.item.update{margin: 15px 0 0 65px;}


#message_list .stream_element:hover{
    background-color: #fff;
}

input:focus {outline: none; border:1px solid #AAA;}



.input_table input:not([type="submit"]):not([type="reset"]), .input_table textarea{
    width:540px;
    font-size: 100%;
    padding-left: 5px;
}
.input_table select{margin-right: 5px;}
input:not([type="submit"]):not([type="reset"]).datepicker{
    width:100px; display: inline; margin-right: 5px;
    background-image: url('/static/image/calendar-icon.png');
    background-repeat: no-repeat;
    background-position: 90px center;
}


.input_table td{padding: 0;}
.input_table {margin-bottom: 0}

td.label{vertical-align: top; padding-top: 8px;}


.input_table #event_time div b {color: #AAA;}


#event_form{border-bottom:1px solid #DDD;width:100%;padding-bottom: 5px;}



.stream_element.reply_element{
    border-bottom:1px dashed #DDD;
}



p.event_title{color: black; font-weight: bold;}



p.event_content{padding:10px 0px;}

ul.comments{display:none;}


span.author_name{font-size: 10px; line-height: 16px;}


.attendees_list p{font-size: 1.2em; color:#777; font-weight: bold; margin:5px 0;}
li.attendee img{width:30px; height: 30px;}

.main_info_div,.attendees_list{padding:0px 10px; padding-bottom: 10px;float:left; width:460px;}
.main_info{width:410px;float: left;}
.main_info  p{margin-bottom: 0}
.main_info .event_title{font-size: 1.5em; color:#777; font-weight: bold;}

img.host_avatar{float:left; width:50px; height: 50px;}

.attend_action {float:left;width:460px; padding:10px;}
.attending_status{margin:0;}
.attend_action div{font-size: 1.2em; color:black; font-weight: bold;float:left;}
.attend_action div.description{width:320px;}


.attendees_list, .attend_action{border-top: 1px solid #e7e7e7; }





.logo_box, .noti_box, .search_box{
    float: left;
    margin-top: 4px;
    height: 40px;
    margin-right: 10px;
}

.logo_box{
    background-image: url('/static/image/main_logo.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    width: 180px;
}
.search_box{
    margin-top: 10px;
    margin-left: 80px;
}

.logo_box:hover{
    background-color: #7ed8f6;
}



.noti_box{
    position: relative;
    width: 40px;
}

#noti_selector{
    width:40px; height:40px;
    background-repeat: no-repeat;
    text-align: center;
    
}
#noti_selector:hover{
    background-color: #7ed8f6;
    cursor: pointer;
}
#noti_selector.nor{background-image: url('/static/image/Notification_nor.png');}
#noti_selector.high{background-image: url('/static/image/Notification_high.png');}
#noti_selector.sel{
    background-image: url('/static/image/Notification_sel.png');background-color: white;
    border: 1px solid black;
    border-bottom: 0px;
    z-index: 1000;
}

.noti_count{font-size: 13px; color:red; position: relative; top:12px;}


.noti_item{
    
    border-top: 0px;
}
.noti_item:hover{
    background-color: rgb(230,255,255);
}


ul#noti_list{
    display: none;
    margin:0; padding:0;
    background-color: white;
    width:295px;
    border: 1px solid black;
    position: relative;
    top:-1px;
    z-index: -1;
}
ul#noti_list li{
    padding:5px;
    border-bottom: 1px solid #f0f0f0;
}

ul#noti_list li.header b{color: black}

ul#noti_list, ul#noti_list li{list-style: none;}

ul#noti_list li.noti_load_more{text-align: center; color: #3F8FBA; font-weight: bold;}
ul#noti_list li.noti_load_more:hover{text-decoration: underline}
