textarea:focus,input[type=text]:focus{
    outline: none; border: 1px solid #34b0d9;
}
textarea{
    font-family:"Tahoma","Helvetica", Arial, sans-serif;
    font-size: 12px;
}

table{
    border-collapse: collapse;
}
.wrapper{}

header{
    width:100%;
    height:45px;
    padding:0px 0px;
    background-image: url('/static/image/header_bg.png');
    background-repeat: repeat-x;
}

footer{
    background-color: #E0E0E0;
    height: 39px;
    border-top: 1px solid #b4b4b4; 
}
footer .container .description{
    padding-left: 190px;
    font-size: 11px;
    color: #323232;
    height: 39px;
    line-height: 39px;
}
.container{
    padding: 0 37px;
    width:950px;
}
.main{
    border-left: 1px solid rgb(180,180,180);
    padding:0 22px; width:525px;
    padding-bottom: 40px;
    margin: 0;
}
.main_container{
    background-image: url("/static/image/container_bg.png");
    background-repeat: repeat-y;
    background-position: 37px 0px;
    z-index: -1;
    
}

.main, .leftBar, .rightBar{
    min-height: 800px;padding-top: 15px;
}
.main_contents{
    float: left;
width: 100%;
}



.button{
    margin:0;
}


h3.message{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  color: #d0312b;
  text-shadow: 1px 1px 20px #d0312b; 
}


.template{
    display:none;
}

ul.nostyle, ul.nostyle li{list-style: none; padding:0px; margin:0px;}
ul.nostyle li{float:left; padding-right: 10px;padding: 1px;
border: 1px solid #B4B4B4;
margin-right:3px; margin-top: 5px; margin-bottom: 5px; width:30px;height: 30px;}
ul.nostyle li:hover{
border: 1px solid #323232;
}


a.detect_item:hover{text-decoration: none;}
a.detect_item span:hover{text-decoration: underline;}


.msg_avatar{ width:50px; height:50px;}

textarea{overflow-y: hidden;}


.message_form{ display: inline-block; padding-bottom: 15px; font-size: 12px;}
.message_form div div.label{
    float:left; width:60px; text-align: right; font-weight: bold; margin:3px 10px 0 0; 
}
.message_form div textarea{width: 415px; font-size: 12px;margin:5px 0;}
.message_form div.item.update{margin: 15px 0 0 69px;}


#message_list .stream_element:hover{
    background-color: #fff;
}

input:focus {outline: none; border:1px solid #AAA;}



.input_table input[type=text], .input_table textarea{
    width:460px;
    font-size: 100%;
    padding-left: 5px;
}
.input_table select{margin-right: 5px;}
input[type="text"].datepicker{
    width:100px; display: inline; margin-right: 5px;
    background-image: url('/static/image/calendar-icon.png');
    background-repeat: no-repeat;
    background-position: 90px center;
}


.input_table td{padding: 0;}
.input_table {margin-bottom: 0}

td.label{vertical-align: top; padding-top: 8px;}


.input_table #event_time div b {color: #AAA;}


#event_form{ width:100%;padding-bottom: 10px;}



.stream_element.reply_element{
    border-bottom:1px dashed #DDD;
}



p.event_title{color: black; font-weight: bold; font-size: 20px;}


.public_info{color: #323232; font-size: 12px;}
p.event_content{padding:10px 0px;}


.attendees_list p{font-size: 1.2em; color:#777; font-weight: bold; margin:5px 0;}
li.attendee img{width:30px; height: 30px;}

.main_info_div,.attendees_list{padding:0px 10px; padding-bottom: 10px;float:left; width:450px;}
.main_info{width:400px;float: left;}
.main_info  p{margin-bottom: 0}
.main_info .event_title{font-size: 1.5em; color:#777; font-weight: bold;}

img.host_avatar{float:left; width:50px; height: 50px;}

.attend_action {padding:0px;}
.attending_status{margin:0;}
.attend_action span{font-size: 12px; color: #666;}
.attend_action span.description{ font-weight: bold;}
.attend_action .actions a{}



.logo_box, .noti_box, .search_box{
    float: left;
    margin-top: 0px;
    height: 44px;
    margin-right: 10px;
}

.logo_box{margin-right: 0px;}
.logo_box .logo{
    background-image: url('/static/image/Logo.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 170px;
    height: 44px;
    
}


.logo_box:hover{
    background-image: url("/static/image/transparent_bg.png");
}



.noti_box{
    position: relative;
    width: 40px;
    border: 1px solid transparent;
    border-top: 0px;
    border-bottom: 0px;
}

#noti_selector{
    width:40px; height:44px;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.noti_box:hover{
    background-image: url("/static/image/transparent_bg.png");
    
}
#noti_selector.nor{background-image: url('/static/image/Notification_nor.png');}
#noti_selector.high{background-image: url('/static/image/Notification_high.png');}
#noti_selector.sel{
    background-image: url('/static/image/Notification_sel.png');background-color: white;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    z-index: 1000;
}

.noti_count{font-size: 13px; color:red; position: relative; top:12px;}


.noti_item{
    cursor: pointer;
    border-top: 0px;
}
.noti_item:hover{
    background-color: rgb(235,250,250);
}


ul#noti_list{
    display: none;
    margin:0; padding:0;
    background-color: white;
    width:330px;
    border: 1px solid black;
    position: relative;
    top:-1px;
    z-index: -1;
    float: left;
    
}
ul#noti_list li{
    padding:5px 10px;
    border-bottom: 1px solid #f0f0f0;
    
}

ul#noti_list li.header{float:left;width:310px;border-bottom: 1px solid #AAA;}
ul#noti_list li.header b{color: black;}

ul#noti_list, ul#noti_list li{list-style: none;}

ul#noti_list li.noti_load_more{text-align: center; color: #325AAA; font-weight: bold;float:left;width:310px; background-color: #F7F7F7;}
ul#noti_list li.noti_load_more:hover{text-decoration: underline; background-color: rgb(235,250,250);}

li.noti_item_template{display: none;}
li.noti_item{
    font-size: 11px;
    color: #333;
    float:left;
    width:310px;
}
li.noti_item.unread{
    background-color: rgb(245,255,255);
}
li.noti_item.unread:hover{
    background-color: rgb(235,250,250);
}
li.noti_item img{
    width: 50px;
    height:50px;
    float:left;
}
li.noti_item div.noti_contents{
    width:260px;
    float: left;
}
li.noti_item div.noti_contents p.message{
    float:left;
    margin: 0; padding: 2px 0px 0 10px;
    width:255px;
    max-height: 30px;
    line-height: 15px;
    overflow: hidden;
}
li.noti_item  .noti_time{
    float:left;
    padding:0px 0 0 10px;
    margin: 0;
}
li.noti_item b{color: #325AAA;}

#user_box{
    float: right;
    height: 24px;
    padding: 10px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-top: 0px;
    border-bottom: 0px;
    
}
#user_box.open{
    background-color: white;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    z-index: 1000;
    color: black;
}

#user_box:hover{
    cursor: pointer;
    background-image: url("/static/image/transparent_bg.png");
    color: #fff;
}
#user_box.open:hover{
    background-color: white;
    color: black;
}
#user_box img.user_picture{
    width:24px;
    height: 24px;
    margin-right: 12px;
    float:left;    
}

.user_info_box span{
    line-height: 24px;
    margin-right: 4px;
}
.user_info_box span.dropdown_btn{
    width: 7px;
    height: 7px;
    background-image: url('/static/image/sprite_icons.png');
    background-position: 0 0;
    margin-top: 8px;
    margin-left: 1px;
    display: inline-block;
}

ul#menu_list{
    display: none;
    color: black;
    margin:0; padding:0;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top:43px;
    right: 47px;
    z-index: -1;
   
}
ul#menu_list a{color: #777; text-decoration: none;}
ul#menu_list li{
    padding:3px 12px;
    list-style: none;
}
ul#menu_list li:hover{
    background-color: rgb(235,250,250);color: black;
}


ul.menu_list{margin:0; padding:10px 0; border-top: 1px solid #dcdcdc; margin-bottom: 10px; float: left;
    width: 100%;}
ul.menu_list h4{margin:5px 0 5px 13px; padding: 0; color: rgb(180,180,180); font-size: 13px;}
ul.menu_list a{
    color: black;
    text-decoration: none;
       
}
li.menu_item{
    float: left;
    width: 174px;
    padding: 0 8px;
    line-height: 23px;
    height: 23px;
    font-size: 12px;list-style: none;
    font-weight: normal;
    color: rgb(50,50,50);
}
li.menu_item:hover{
    background-color: rgb(235,250,250);
}
ul#topic_favor_list{
    margin-bottom: 10px;
}
li.selected.menu_item{background-color: rgb(196,231,241); font-weight: bold;}
li.selected.menu_item:hover{background-color: rgb(196,231,241);}
li.topic_menu_item{
    float: left;
    width: 174px;
    padding: 0;
    line-height: 23px;
    font-size: 12px;list-style: none;
    font-weight: normal;
    color: rgb(50,50,50);
}

li.topic_favor_item{
    line-height:20px; height: 20px; overflow:hidden; font-size:12px;color: #325AAA;
    padding-left:36px;
    width:146px;
}
li.topic_favor_item a p{font-size:12px;color: #325AAA;}
li.topic_favor_item .del_btn{
    display: none;
}
li.topic_favor_item:hover .del_btn{
    display: inline;
}
li.topic_favor_item.last{
}

.user_box{float:left; width:100%; padding:0px 14px 5px 14px;}
.user_box img{width:50px; height: 50px;float:left;}
.user_box div{float:left; padding:2px 10px;}
.user_box div p{padding: 0px; margin-bottom: 0px; width: 105px; height: 20px; line-height: 20px;overflow: hidden; text-overflow: ellipsis;}
.user_box div p.user_id a{font-size: 14px; color: rgb(50,90,170); font-weight: bold;}
.user_box div .user_name{
    font-size: 12px; color: rgb(120,120,120); width: 105px; height: 20px; line-height: 20px;
    overflow: hidden; text-overflow: ellipsis;
}
.user_box div p.setting a{font-size: 11px; color: rgb(50,90,170);line-height: 14px; margin-right: 10px;}


.page_title{font-size: 20px; color: #323232; font-weight: bold; margin-bottom: 15px;}
.page_title b.user_id{font-size: 16px; color: #727272; font-weight: normal;}
.page_title .header_map{font-size: 16px; margin-right: 5px;}

div.tab{float: left; width: 100%; height: 25px; border-bottom: 1px solid #b4b4b4; margin: 0;}
span.tab_item{min-width:83px; display: block; float: left; text-align: center; font-size: 12px; padding:3px 10px; color: #323232; 
    border: 1px solid transparent; border-bottom: 1px solid #b4b4b4;   
    max-width: 300px;
max-height: 20px;
overflow: hidden;
}
span.tab_item.back{
    min-width: 10px;
}
span.tab_add{
    width: 26px;
    height: 26px;
    background-position: -195px -42px;
}
span.tab_remove{background-position: 3px -64px;width:26px; height:26px;}
span.tab_add:hover{
    
}

div.tab a{text-decoration: none;}
span.tab_item:hover{background-color: #E0E0E0;}
span.tab_item.back:hover{background-color: white;}
span.tab_item.selected{
    background-image: url("/static/image/tab_sel_unit.png");
    border: 1px solid #b4b4b4;
    border-bottom: 1px solid white;
    font-weight: bold;
}



ul.setting_list{margin: 0; padding: 0; display: inline-block;}
ul.setting_list.True{display: none;}
.setting_item{
    padding: 15px 0px;
    float: left;
    list-style: none;
}

.setting_label{
    width: 110px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    height: 15px;
}
.setting_field{
    float: left;
    width: 345px;
    padding-left: 60px;
    font-size: 13px;
    color: #323232;
}


.setting_field .setting_avatar{
    padding: 2px;
    width: 100px;
    height: 100px;
    border: 1px solid #B4B4B4;
    float: left;
    margin-right: 20px;
}
.setting_field .setting_avatar:hover{
    border: 1px solid black;
}

.setting_field .qq-upload-list{
    display: none;
}

.setting_field .change_field{
    display: none;
    width: 100%;
}





#load_more_box, #loading_box{
    margin:16px 0px;
    text-align: center;
    float: left;
    width:100%;
    display: none;
}
#load_more_box a{
    text-align: center; width:100%;
    
}
#load_more_box a p{
    background-image: url('/static/image/Box_525x26_nor.png');
    width:525px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto; padding: 0;
}
#load_more_box a:hover{text-decoration: none;}
#load_more_box a p:hover{
    background-image: url('/static/image/Box_525x26_over.png');
    text-decoration: none;
}
#load_more_box a p:active{
    background-image: url('/static/image/Box_525x26_sel.png');
}





.search_box{
    background-image: url('/static/image/Searchbox_5px.png');
    width: 362px;
    height: 20px;
    margin-top: 10px;

    padding:2px 5px; 
}

input#search_box_input{
    padding: 4px 5px; margin: 0;
    border: 0;
    background-color: transparent;
    font-size:12px;display:inline; height:12px;
    width: 330px;
    float: left;
}

.from{font-size: 13px;}

.search_list{display: none;}
.search_result{font-size: 12px; color: #323232;}

.search_feed_item{}
.search_feed_item:hover{background-color: rgb(245,245,245);cursor: pointer;}

ul.comments textarea,
  ul.show_comments textarea,
  .likes_container textarea{
    width:405px; margin:0px; height:15px;
}

.no_result{
    font-size: 12px;
    padding: 10px 5px;
    border-bottom: 1px solid #E9E9E9;
    font-weight: bold;
    text-align: center;
}


.list_table th, .list_table td{padding:0;}
.topic_table tr td.topic_title p, .file_table tr td.name p{
    color: #325AAA;
}
.list_table tr td p{
    height: 33px;
    line-height: 33px;
    overflow-y: hidden;
    margin: 0; padding: 0;
}
.topic_table tr td p.topic_detail{
    width: 265px;
}
.ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
 .list_table tr th p{height: 23px;
    line-height: 23px;
    overflow-y: hidden;
    margin: 0; padding: 0;}

.list_table tr th{
    border-bottom: 1px solid #B4B4B4;
    font-size: 12px;
    color: #323232;
}

.list_table tr.topic_item td{
    border-bottom: 1px solid #F0F0F0;
}
.list_table tr.list_item:hover{
    background-color: rgb(235,250,250);   
}
.list_table tr.list_item.tagcloud:hover{
    background-color: #fff;
}

.file_table .ui_icon{
    height: 33px;
    background-position-y: -86px;
}

th.first,.list_table td.first{
    padding-left: 10px;
}
.file_table td.first{
    padding-left: 5px;
}

td.first.name p{
    width: 200px;
}

.member_table tr.member_item td{
    height: 60px;
}
.member_table td.member_picture img{
    width: 50px;
    height: 50px;
}

tr.member_item .name p{
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
}
tr.member_item .dept p{line-height: 20px; height: 20px;}
tr.member_item .name p.real_name{color: #787878; font-weight: normal;}

.index_box{
    color: #323232;
    font-size: 12px;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
}
ul.index_list{
    
    padding: 0;
margin: 0 auto;
margin-top: 20px;
list-style-type: none;
float: left;
position: relative;
left: 50%;
}
ul.index_list a{
    margin: 0; padding: 0;
    color: #323232;
}
ul.index_list a:hover{
    color: #325AAA;
}
ul.index_list li{float: left;
    list-style: none;
    margin:0;
    padding: 0px;
    text-align: center;
    position: relative;
    right: 50%;
}
ul.index_list li span{
    width: 25px;
    float: left;
    line-height: 13px;
    height: 13px;
}

ul.index_list li.index_item{
    border-left: 1px solid #B4B4B4;
}
ul.index_list li.index_item.last{
    border-right: 1px solid #B4B4B4;
}

ul.index_list li.previous span, ul.index_list li.next span{
    width: 50px;
}




.stream_element .event_delete.right{
}


.page_title .title_link{
    font-size:12px; font-weight:normal; letter-spacing:0px; margin-left:10px;
}


#message_list .stream_element:hover, #event_list .stream_element:hover, #notice_list .stream_element:hover{
    background-color: rgb(245,245,245);
    cursor: pointer;
}


.event_attendee{
    font-size: 12px;
    color: #323232;
}


.notice_item .stream_element .content p{font-size: 12px;}
.notice_item .stream_element .content p.notice_time{font-size: 11px;}
.notice_item .notice_content b{
    color: #325AAA;   
}


.message_item .from{
    font-size: 11px;
}



#input_invites{
    resize: none;
    height: 17px;    
}


#attendees_list{
    display: inline-block;
    width: 100%;
}

.stream_element .left {
    position: absolute;
    top: 3px;
}

.stream .right_avatar{
    float: right;
}
.right_content{
    padding-left: 0px;
    padding-right: 60px;
    text-align: right;
}


.setting_field .change_field input{
    margin: 0 0 5px 0;
}


.popular_topics{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    color:#ccc;font-size:12px;line-height:1.5;text-align:justify;
    padding: 0 0 15px 0;
}
.popular_topics li{display: inline;float: left; margin: 5px 3px;
    border: 1px solid #F0F0F0; padding: 1px 5px;
    font-size: 12px;
    background-color: #FAFAFA;
}

.popular_topics li:hover{
    text-decoration: none;
    border: 1px solid #A0A0A0;
    background-color: #EBFAFA;
}
.popular_topics a{
        text-decoration: none;
}

b.title{
    font-size: 14px;
    padding-left: 6px;
}
h4.section_title{
    line-height: 24px;
}



.member_table tr.authority_item td{
    height: 40px;
    max-height: 40px;
    overflow: hidden;
}
.member_table tr.authority_item td.name p,.member_table tr.authority_item td.name img{
    float: left;
    margin-left: 10px;
}
.member_table tr.authority_item td.name img{width: 25px; height: 25px;}
#user_list_table tr:hover{background-color: #fff;}


.select_inline_box{margin: 0 5px;}


.map_area{
    border: 1px solid #F0F0F0;
    padding: 3px;
    width: 517px;
    height: 300px;
    margin: 0px 0px 17px 0px;
}
.map_area:hover{
    border: 1px solid #b4b4b4;
}

.map_area #map_canvas{
    width: 517px;
    height: 300px;
}

.stream_element .content p.feed_location.small img{
    height:80px;
}


.event_comment{
    border-left-width: 3px;
border-left-style: solid;
border-left-color: #F0F4F5;
}

ul.comments, ul.comments li{
    float: left;
    width: 100%;
}
ul.comments li{
    width:453px;
}
ul.comments a.user_link{
    width:30px;
    height: 30px;
}
ul.comments .user_link a img{float: left; width:30px;}

ul.comments li .content{
    width: 410px;
    float: left;
    padding: 0 0 0 8px;
}
ul.comments li .user_image_box{
    float: left;
    padding: 2px 0px;
    width: 30px;
    height: 30px;
}

.stream{
    float: left;
    width:525px;
}
.stream .stream_element{
    float: left;
    width:525px;
}


ul#menu_list li.header_menu_item{
    line-height: 23px;
height: 23px;
font-size: 12px;
list-style: none;
font-weight: normal;
color: #323232;
}