.ui-autocomplete {
  left: -11px; }

.button {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: #e3e3e3;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f7f7f7, endColorstr=#d0d0d0)";
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#d0d0d0));
  background: -moz-linear-gradient(top, #f7f7f7 0%, #d0d0d0 100%);
  font-style: normal;
  font-weight: bold;
  display: inline;
  padding: 4px 7px;
  min-width: 26px;
  font-size: 12px;
  line-height: 13px;
  min-height: 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  white-space: nowrap;
  color: #4a4a4a;
  text-shadow: 0 1px 1px #eeeeee; }
  .button:hover -44px
  .button:active {
    background: #969696;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#acacac, endColorstr=gray)";
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#acacac), to(gray));
    background: -moz-linear-gradient(top, #acacac 0%, gray 100%);
    color: #111111;
    text-shadow: 0 1px 0 #cccccc;
    border: 1px solid #666666;
      border-top: 1px solid #444444;
      border-bottom: 1px solid #999999; }
  .button img {
    position: relative;
    height: 20px;
    width: 20px;
    top: 6px; }

.button .selected {
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f0f0f0, endColorstr=#fafafa)";
  background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#f0f0f0), to(#fafafa));
  background: -moz-linear-gradient(top, #f0f0f0 29%, #fafafa 85%);
 }

.right {
  position: absolute;
  right: 0; }

.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.ui_icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui_icon { width: 22px; height: 22px; background-image: url(/static/image/sprite_icons.png); float:left;}
li.menu_item .ui_icon{margin:0 4px 0 2px;}

.ui_icon_feed { background-position: 0 0; }
.ui_icon_dm { background-position: -22px 0px; }
.ui_icon_event { background-position: -44px 0; }
.ui_icon_favorite { background-position: -66px 0; }
.ui_icon_star_off { background-position: -88px 0; }
.ui_icon_star_on { background-position: -110px 0; }
.ui_icon_topic { background-position: -132px 0; }
.ui_icon_file { background-position: -154px 0; }
.ui_icon_attach_file { background-position: -176px 0; }
.ui_icon_location { background-position: -198px 0; }
.ui_icon_location_attach { background-position: 0px -22px; }
.ui_icon_member { background-position: -22px -22px; }

.ui_icon_overview { background-position: -44px -22px; }
.ui_icon_stats_by_topic { background-position: -66px -22px; }
.ui_icon_stats_by_member { background-position: -88px -22px; }
.ui_icon_authority { background-position: -110px -22px; }
.ui_icon_invite { background-position: -132px -22px; }
.ui_icon_notice { background-position: -154px -22px; }
.ui_icon_search { background-position: -176px -22px; }
.ui_icon_delete { background-position: -198px -22px; }

.ui_icon_delete_big { background-position: 0px -44px; }
.ui_icon_arrow_black { background-position: -22px -44px; }
.ui_icon_arrow_gray { background-position: -44px -44px; }
.ui_icon_arrow_white { background-position: -66px -44px; }
.ui_icon_enter { background-position: -88px -44px; }
.ui_icon_check_box_blank { background-position: -110px -44px; }
.ui_icon_check_box_checked { background-position: -132px -44px; }
.ui_icon_radio_blank { background-position: -154px -44px; }
.ui_icon_radio_blank { background-position: -176px -44px; }
.ui_icon_add { background-position: -198px -44px; }
.ui_icon_remove { background-position: 0px -66px; }

.ui_icon_file_excel {width:30px;height:30px; background-position: 0px -88px; }
.ui_icon_file_word {width:30px;height:30px; background-position: -30px -88px; }
.ui_icon_file_ppt {width:30px;height:30px; background-position: -60px -88px; }
.ui_icon_file_hwp {width:30px;height:30px; background-position: -90px -88px; }
.ui_icon_file_pdf {width:30px;height:30px; background-position: -120px -88px; }
.ui_icon_file_zip {width:30px;height:30px; background-position: -150px -88px; }
.ui_icon_file_etc {width:30px;height:30px; background-position: -180px -88px; }

.corner_top {-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; }
    
.ui-corner-bottom {-moz-border-radius:0px 0px 5px 5px ;
    -webkit-border-radius:0px 0px 5px 5px ;
    border-radius:0px 0px 5px 5px ; }