<script type="text/javascript">
$(document).ready(function(){
    $('.event_calendar').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
        beforeShowDay: function(date) {
            if(date.getDate()%5 == 1)
                return [true, "bold"];
            else
                return [true, "normal"]
        },
        onSelect: function(dateText, inst){
            $(".date_header").text("* Events on "+dateText);
        }
    });
});
</script>
<div class="event_calendar" >
<h4>Event Calendar</h4>
</div>
<div class="event_list">
<b class="date_header"></b>
</div>