<script type="text/javascript">
var month_event_info = new Array();

$(document).ready(function(){
    $('.event_calendar').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
        beforeShowDay: function(date) {
            //console.log(date.getDate());
            if(month_event_info.indexOf(date.getDate()) != -1)
                return [true, "bold"];
            else
                return [true, "normal"]
        },
        onSelect: function(dateText, inst){
            $(".date_header").text("* Events on "+dateText);
        },
        onChangeMonthYear: function(year, month, inst) { 
            month_event_info=new Array(); 
            //console.log('hi '+ month); 
        },
    });
});
</script>
<div class="side_item" >
<h4>Event Calendar</h4>
<div class="event_calendar"></div>
<div class="event_list">
<b class="date_header"></b>
</div>
</div>

