<script type="text/javascript">
$(document).ready(function(){
    load_poll();
});
</script>
<div class="side_item">
<h3 class="sidebar_header">Polls</h3>
    <div title="invite_user" class="invite_box">

<div id="poll_list">
    <div class="stream_element poll_item template" style=" padding:5px 0px;">
        <p class="poll_title">
        </p>
        <p class="user_info" style="font-size:10px;">
            <span class="user_link" style="font-size:11px; color:#325AAA">test</span>
            <span class="author_name" style="font-size:11px;">수지</span>
            <abbr class="timeago dialog_time">4 days ago</abbr>
        </p>
    </div>
</div>


    </div>
</div>