<div class="side_item">
<h3 class="sidebar_header">Search File</h3>
<div title="search_topic" class="search_topic_box">
<form method="get" action="./">
<input id="q" type="text" placeholder="type keyword..." name="q" class="search_topic_input input_167_25">
</form>


<div class="en_index">
<span class="all keyword"><a href="./"><b>All</b></a></span>
{% for en in en_list %}
<span class="keyword"><a href="./?index={{en}}">{{ en }}</a></span>
{% endfor %}
</div>

<div class="ko_index">
{% for ko in ko_list %}
<span class="keyword"><a href="./?index={{ko}}">{{ ko }}</a></span>
{% endfor %}
</div>

<div class="num_index">
<span class="keyword"><a href="./?index=number">#</a></span>
</div>

</div>
</div>