<div class="side_item">
<h3 class="sidebar_header">User Profile</h3>
<div title="user_profile" class="user_profile_box">


<div class="user_picture_box">
    <img src="/picture/{{ target_user.user.username }}"  class="user_picture"/>
</div>
<p class="user_id">{{ target_user.user.username }}</p>
<p class="user_name">{{ target_user.user.last_name }}</p>
<p class="user_detail">
{{ target_user.user.email }} <br />
{% if user_profile.dept %}
{{ user_profile.dept }} <br />
{% endif %}
{% if user_profile.position %}
{{ user_profile.position }} <br />
{% endif %}
</p>

{% if related_topics %}
<ul class="user_related_topics">
<b>Related Topics</b>

{% for topic in related_topics %}
<li><a href="/topic/{{ topic }}">#{{ topic }}</a></li>
{% endfor %}
</ul>
{% endif %}

</div>
</div>