<li class="comment posted template" data-guid="2">
    <div class="right controls">
        <a href="#" class="delete stream_element_delete" title="지우기" style="display:none;"><img alt="Deletelabel" src="/static/image/deletelabel.png?1307079878"></a>
    </div>
    <a href="/people/1">
      <img alt="ujlikes@localhost" class="avatar" data-person_id="1" src="/picture/test" title="ujlikes@localhost">
    </a>
    <div class="content">
      <div class="from">
        <a href="/user/" class="user_link">
          user_name
        </a>
        <time class="timeago">
          <abbr class="timeago comment_time"></abbr>
        </time>
      </div>
      <p class="comment_text"></p>
    </div>
</li>