<li class="comment posted template" data-guid="2">
    <div class="right controls">
        <a href="#" class="delete stream_element_delete" title="지우기" style="display:none;"><img alt="Deletelabel" src="/static/image/deletelabel.png?1307079878"></a>
    </div>
    <a href="/people/1" class="user_link">
      <img alt="ujlikes@localhost" class="avatar" data-person_id="1" src="/picture/test" title="ujlikes@localhost">
    </a>
    <div class="content">
      <div class="from">
        <a href="/user/" class="user_link">
          user_name
        </a>
        <time class="timeago">
          <abbr class="timeago comment_time"></abbr>
        </time>
      </div>
      <p class="comment_text"></p>
    </div>
</li>

<ul class="comments comment_count" id="1">
<li><span></span>개의 댓글이 있습니다. <a href="#" class="show_all">모두 보기</a></li>
</ul>

<ul class="comments comment_list" id="1">
</ul>
 

<ul class="comments" id="1">
   <li class="write_box">
    <img alt="ujlikes@localhost" class="avatar" src="/picture/test" title="ujlikes@localhost">
    <p style="position:relative; left:35px; margin-bottom:5px;">
        <textarea class="comment_area" id="comment_area_" style="width:460px;" placeholder="Write Comment"></textarea>
    </p>
    <div class="submit_button hidden">
       <input class="comment_submit button" id="comment_submit_" name="commit" type="submit" value="Reply">
    </div>
    </li>
</ul>

