<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd'
    });
    
    reset_start_time();
    
    
    $("#input_invites").keyup(function(event){
        detect_auto_complete($(this));
    });
    
    
    $("#auto_complete_list li").click(function(event){
        event.stopPropagation();
    });
    
});
</script>


<div id="event_form">
<table class="input_table">

<tr id="event_title">
<td width="60" class="label"><b>What?</b></td>
<td><input type="text" id="input_title" /></td>
</tr>

<tr id="event_time" class="canHide">
<td width="60" class="label"><b>When?</b></td>
<td>

    <table style="margin:0;">
        <tr id="start_time">
            <td style="width:70px;">Start Time</td>
            <td style="width:120px;"><input type="text" class="datepicker" /></td>
            <td style="width:90px;">{% include "ui/time_select.html" %}</td>
            <td><a href="#" onfocus="this.blur();" onclick="$(this).css('color','#fff'); $('#end_time').show(); return false;">Add End time</a></td>
        </tr>
        <tr id="end_time" style="display:none;">
            <td style="width:70px;">End Time</td>
            <td style="width:120px;"><input type="text" class="datepicker" /></td>
            <td style="width:90px;">{% include "ui/time_select.html" %}</td>
            <td></td>
        </tr>
    </table>

</td>
</tr>


<tr id="event_location" class="canHide">
<td width="60" class="label"><b>Where?</b></td>
<td><input type="text" id="input_location"/></td>
</tr>

<tr id="event_invites" class="canHide">
<td width="60" class="label"><b>Who?</b></td>
<td>
    <textarea type="text" id="input_invites"></textarea>
    
    <div id="auto_complete_list" class="ui-corner-all">
        <ul>
            <li class="first corner_top type_msg"><span></span></li>
            <li class="first corner_top search_msg"><span>Search Result</span></li>
            <li class="user_item template">
            <div class="user">
                <span class="user_picture"><img src="/picture/test" /></span>
                <p class="user_info">
                    <span class="user_name"></span>
                    <span class="user_real_name"></span>
                </p>
            </div>
            </li>
            <li class="add ui-corner-bottom">Make Topic "<b><span class="topic_name"></span></b>"</li>
        </ul>
    </div>

    
    
</td>
</tr>

<tr id="event_message" class="canHide">
<td width="60" class="label"><b>Message</b></td>
<td><textarea id="input_message" class="autogrow" style="overflow-y:hidden;min-height:50px; resize:none;"></textarea></td>
</tr>

<tr id="event_submit" class="canHide">
<td width="60" class="label"><b></b></td>
<td style="padding-top:5px; text-align:left; padding-right:0px;">
    <input id="input_public" type="checkbox" style="display:inline; vertical-align:3px; float:left" />
    <b style="margin-left:3px;">공개로 설정 (누구나 이벤트 조회 및 참석 가능)</b>
    
    <div style="width:460px; display:block; padding-top:10px;">
    <p class="loading" style="display:inline; padding:0; margin:0; display:none; padding-top:2px; padding-bottom:6px;padding-right:5px"><img src="/static/image/ajax-loader.gif?asdf"></p>
    
    <input type="button" class="button_s" onblur="return false" onClick="register_event($(this)); return false;" value="등록" id="update_btn"/>
    <input type="button" class="button_s" onblur="return false" onClick="history.back(); return false;" value="취소" id="update_btn"/>
    </div>
</td>
</tr>


</table>
</div><!-- End demo -->