<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
    });
    
    reset_start_time();
});
</script>


<div id="event_form">
<table class="input_table">

<tr id="event_title">
<td width="60" class="label"><b>What?</b></td>
<td><input type="text" id="input_title" /></td>
</tr>

<tr id="event_time" class="canHide">
<td width="60" class="label"><b>When?</b></td>
<td>
    <div id="start_time">
        <div style="display:inline-block; width:60px;">Start Time</div>
        <input type="text" class="datepicker" />
        {% include "ui/time_select.html" %}
        <a href="#" onclick="$(this).remove(); $('#end_time').show(); return false;">Add End time</a>
    </div>
    
    
    
    <div id="end_time" style="display:none;">
        <div style="display:inline-block; width:60px;">End Time</div>
        <input type="text" class="datepicker" />
        {% include "ui/time_select.html" %}
    </div>
</td>
</tr>


<tr id="event_location" class="canHide">
<td width="60" class="label"><b>Where?</b></td>
<td><input type="text" id="input_location"/></td>
</tr>

<tr id="event_invites" class="canHide">
<td width="60" class="label"><b>Who?</b></td>
<td><input type="text" id="input_invites"/></td>
</tr>

<tr id="event_message" class="canHide">
<td width="60" class="label"><b>Message</b></td>
<td><textarea id="input_message" class="autogrow" style="overflow-y:hidden;min-height:50px; resize:none;"></textarea></td>
</tr>

<tr id="event_submit" class="canHide">
<td width="60" class="label"><b></b></td>
<td style="padding-top:10px; text-align:left; padding-right:0px;">
    <input id="input_public" type="checkbox" style="display:inline; vertical-align:3px;" />
    <span style="margin:0 10px 0 2px;font-weight:bold;">공개로 설정 (누구나 이벤트 조회 및 참석 가능)</span>
    
    <div style="float:right;">
    <p class="loading" style="display:inline; padding:0; margin:0; display:none; padding-top:2px; padding-bottom:6px;padding-right:5px"><img src="/static/image/ajax-loader.gif?asdf"></p>
    <a href="/" class="button update" onClick="register_event($(this)); return false;" id="update_btn" >등록</a>
    <a href="/" class="button update" onClick="history.back(); return false;" id="update_btn" >취소</a>
    </div>
</td>
</tr>


</table>
</div><!-- End demo -->