<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("target_map_canvas"), myOptions);
  }
  $(document).ready(function(){
/*     initialize(); */
    $('#foo').bind('click', function() {
        $('#facebox #map_canvas').attr('id','target_map_canvas');
        initialize();
    });
  });
</script>
<div id="location_selector" style="display:none; width:380px;">
 <div style="width:380px;">
  <h3 style="margin-bottom:10px;">Add Location</h3>
  <div id="map_canvas" style="width:380px; height:240px;"></div>
  <input type="text" style="font-size:12px;" placeholder="장소를 검색하세요."/>
  <ul></ul>
  <p style="text-align:right;"><a href="#" class="button" onclick="setLocationInfo(); ">확인</a></p>
 </div>
</div>




<div id="facebox" style="display: none; ">
    <div class="popup">
        <div class="content"></div>
        <a href="#" class="close"><img src="images/closelabel.png" title="close" class="close_image"></a>
    </div>
</div>