<div id="feed_list" type="{{ load_type }}">

<div class="stream template" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="right controls top">
    <a href="#" class="delete stream_element_delete feed" title="지우기" style="display:none;"><span class="ui_icon ui_icon_delete"></span></a>
  </div>
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar author" data-person_id="2">
    </a>
    <div class="content">
      <div class="from">
        <a href="/user/" class="user_link">
          user_name
        </a>
        <span class="author_name">
        </span>
      </div>
      <p class="feed_content">
        feed_content
      </p>
      <div class="info">
<!--
        <span class="aspect_badges">
          <span class="aspect_badge single"><a href="/aspects?a_ids[]=3" class=" hard_aspect_link" data-guid="3" params="created_ata_ids[]3">가족</a></span><span class="aspect_badge single"><a href="#" class="hard_aspect_link" data-guid="4">직장</a></span>
        </span>
-->
        <span class="timeago">
          <abbr class="timeago feed_time" title="2011-06-08 13:01:46 UTC">방금 전</abbr>
        </span>
        <span class="via">
        </span>
        
        <span class="like_action">
        |  <a href="#"><span class="favor">Favorite</span><span class="unfavor">Unfavorite</span></a>
        </span>
        <span class="attach_file">
        |  <a href="#" class="focus_comment_textarea" >첨부파일(<span class="attach_file_count"></span>)</a>
        </span>
        <span class="comment_action">
        |  <a href="#"  onclick="return false;">Comments (<span class="comment_count_text"></span>)</a>
        </span>
        
      </div>
      <!--
<div class="attach_files" style="background-color:#F0F4F5; font-size:12px; padding:3px;">
      
      <ul class="nostyle"><b>Attach Files</b><li></li></ul>
      </div>
-->
      <div class="likes">
      </div>
      
      
      {% include "ui/comment_box.html" %}
      
    </div>
  </div>
</div>


</div>



</div>