<div class="feed">

<div class="feed_form">
<script type="text/javascript">
$(document).ready(function(){
    $("#feed_message_input").click(function(){
        /*
if($("#feed_message_input").height()==16)
            $("#feed_message_input").css('height','56px');
        
*/$(".feed_rest").show();
    
    });
});
</script>
<div><textarea id="feed_message_input" class="autogrow ui-corner-all" style="max-width:504px; min-width:504px; height:16px;" placeholder="Write your Feed"></textarea></div>

<div class="feed_rest">
<div style="display:none;"><ul id="attach_list"><b style="margin-right:10px;">Attatched</b></ul></div>

<div class="control">


<div class="item attach">
   <!--
 <div>
        <ul class="control_list">
            <li><b>Add</b></li>
            <li><a href="#" id="file_button">Files</a></li>
            <li><a rel="facebox" href="#location_selector" id="foo">Location</a></li>
        </ul>
    </div>
-->
    
    
<script type="text/javascript">
$(document).ready(function(){
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '/file/ajax_upload',
        sizeLimit: 0, // max size
        minSizeLimit: 0, // min size
        debug: true,
        params:{
            title: '<span class="ui_icon ui_icon_attach_file"></span>'
        },
        onComplete: function(id, fileName, responseJSON){
            console.log(responseJSON);
            
            $("#attach_list").append("<li>"+responseJSON.id+"</li>");
        },
    });
    
    $(".qq-uploader").prepend("<b class='attach_label'>Add</b>");
});
</script>

<div id="file-uploader">       
    <noscript>          
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>         
</div>

</div><!-- item attach -->

<div class="item update">
    <a href="/" class="button update" onClick="upload_feed(); return false;" id="update_btn">Update</a>
    <div class="loading" style="text-align:right; display:none;"><img src="{{ STATIC_URL }}image/loading.gif" /></div>
</div>

</div><!-- control -->
</div><!-- feed_rest -->


</div><!-- feed_form -->

</div><!-- feed -->

{% include "ui/facebox_location.html" %}
