<div id="feed_list" type="{{ load_type }}">

<div class="stream template" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="right controls top">
    <a href="#" class="delete stream_element_delete feed" title="지우기" style="display:none;"><span class="ui_icon ui_icon_delete"></span></a>
  </div>
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar author">
    </a>
    <div class="content">
      <div class="from">
        <a href="/user/" class="user_link">
          user_name
        </a>
        <span class="author_name">
        </span>
      </div>
      <p class="feed_content">
        feed_content
      </p>
      <p class="feed_attach_image">
        
      </p>
      <p class="feed_attach">
      </p>
      
      <p class="info">

        <span class="timeago">
          <abbr class="timeago feed_time">방금 전</abbr>
        </span>
        <span class="via">
        </span>
        |
        <span class="like_action">
          <a href="#">
                <span class="favor">
                    
                    Favorite
                </span>
                
                <span class="unfavor">Unfavorite</span>
            </a>
        </span>
        |  
        <span class="comment_action">
            <a href="#"  onclick="return false;">Comments (<span class="comment_count_text"></span>)</a>
        </span>
        
      </p>
      <div class="likes">
      </div>
      
      
      {% include "ui/comment_box.html" %}
      
    </div>
  </div>
</div>


</div>



</div>