<script type="text/javascript">
$(document).ready(function(){
    $("#feed_message_input").click(function(){

        $(".feed_rest").show();
    });
    
    $("#feed_message_input").keyup(function(event){
        detect_auto_complete($(this));
    });
    
    
    $("#auto_complete_list li").click(function(event){
        
        event.stopPropagation();
    });
    
    $('#auto_complete_list li.add').click(function(){
        var left=$(this).attr('left');
        var right=$(this).attr('right');
        replace_input_text($("#feed_message_input"), $(this).find('.topic_name').text(),left, right);
        $("#auto_complete_list").hide();
    });
    
    
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '/file/ajax_upload',
        sizeLimit: 0, // max size
        minSizeLimit: 0, // min size
        debug: true,
        params:{
            title: '<span class="ui_icon ui_icon_attach_file"></span>',
            delete_btn: '<span class="ui_icon ui_icon_delete"></span>'
        },
        onComplete: function(id, fileName, responseJSON){
            /* $("#attach_list").append("<li id='file_"+responseJSON.id+"'>"+responseJSON.id+"</li>"); */
        },
    });
    
    $("#file-uploader .custom_zone").prepend("<b class='attach_label'>Add:</b>");
    var update_btn_layout = $(".item.update").clone();
    update_btn_layout.removeClass("template");
    $("#file-uploader .custom_zone").after(update_btn_layout);
    
});
</script>

<div><textarea id="feed_message_input" class="autogrow ui-corner-all" style="resize:none; width:513px; padding:5px 5px; height:20px;font-family:'Tahoma','Helvetica', Arial, sans-serif; margin:0; margin-bottom:3px;" placeholder="Write your Feed"></textarea></div>


<div class="feed">

<div class="feed_form">
<div id="auto_complete_list" class="ui-corner-all">
<ul>
<li class="first corner_top type_msg"><span></span></li>
<li class="first corner_top search_msg"><span>Search Result</span></li>
<li class="user_item template">
    <div class="user">
    <span class="user_picture"><img src="/picture/test" /></span>
    <p class="user_info">
        <span class="user_name"></span>
        <span class="user_real_name"></span>
    </p>
    </div>
</li>
<li class="topic_item template">
    <div class="topic">
    <span class="topic_name">#삼일</span>
    </div>
</li>
<li class="add ui-corner-bottom">Make Topic "<b><span class="topic_name"></span></b>"</li>
</ul>
</div>
<div class="feed_rest" style="display:none;">
<div style="display:none;"><ul id="attach_list"><b style="margin-right:10px;">Attatched</b></ul></div>

<div class="control">


<div class="item attach" style="min-height:20px;">



<div id="file-uploader">       
    <noscript>          
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>         
</div>

</div><!-- item attach -->

<div class="item update template">
    <button type="submit" class="button_m" onblur="return false" onClick="upload_feed(); return false;">Update</button>
</div>

</div><!-- control -->
</div><!-- feed_rest -->


</div><!-- feed_form -->

</div><!-- feed -->

{% include "ui/facebox_location.html" %}
