<div id="message_list" type="{{ load_type }}">

<div class="stream template"  id="main_stream"><div class="stream_element" data-guid="1">
  <div class="right controls top"  style="top:10px;">
    <a href="#" class="delete stream_element_delete message" title="지우기" style="display:none;"><span class="ui_icon ui_icon_delete"></span></a>
  </div>
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar" data-person_id="2">
    </a>
    <div class="content">
      <div class="from">
        From <a href="/user/" class="user_link">
          user_name
        </a>
        - To <span class="receivers"></span>
      </div>
      <p class="message_content">
        message_content
      </p>
      <div class="info">
        <span class="timeago">
          <abbr class="timeago message_time" title="2011-06-08 13:01:46 UTC">방금 전</abbr>
        </span>
      </div>
        
      <div class="likes">
      </div>
      
    </div>
  </div>
</div>
</div>


</div>