<script type="text/javascript">
$(document).ready(function(){
    
    $("#input_users").keyup(function(event){
        detect_auto_complete($(this));
    });
    
    
    $("#auto_complete_list li").click(function(event){
        event.stopPropagation();
    });
    
});
</script>

<div  id="message_form">
<div class="message_form" style="width: 525px;">
<h4 class="box_header">Send a Message</h4>
<div class="box_main">
<div class="item">
    <div class="label">
    To
    </div>
    <textarea id="input_users" class=""  placeholder="Add user" style="overflow-y:hidden; padding:5px 10px; height:16px; resize:none;"></textarea>
    <div id="auto_complete_list" class="ui-corner-all">
        <ul>
            <li class="first corner_top type_msg"><span></span></li>
            <li class="first corner_top search_msg"><span>Search Result</span></li>
            <li class="user_item template">
            <div class="user">
                <span class="user_picture"><img src="/picture/test" /></span>
                <p class="user_info">
                    <span class="user_name"></span>
                    <span class="user_real_name"></span>
                </p>
            </div>
            </li>
            <li class="add ui-corner-bottom">Make Topic "<b><span class="topic_name"></span></b>"</li>
        </ul>
    </div>
    
</div>
<div class="item">
    <div class="label">
    Message
    </div>
    <textarea id="input_message" class="autogrow"  placeholder="Write your Message" style="overflow-y:hidden; padding:5px 10px;  min-height:100px; resize:none;"></textarea>
</div>


<div class="item update">
    <input type="button" class="button_s" onblur="return false" onclick="send_message(); return false;" value="보내기" id="update_btn"/>
    <div class="loading" style="text-align:right; display:none;"><img src="{{ STATIC_URL }}image/loading.gif" /></div>
</div>

</div>
</div>
</div>