<div id="notice_list" type="{{ load_type }}">
<div class="no_result" style="display:none;">
There is no unread notification.
</div>

<div class="stream template" data-guids="3,4" id="main_stream"><div class="stream_element" data-guid="1">
  <div class="sm_body">
    <a href="/user/" class="user_link">
      <img class="avatar author user_picture">
    </a>
    <div class="content">
      <p class="notice_content">
        notice_content
      </p>
      <p class="notice_time">
        <abbr class="timeago event_time" title="2011-06-08 13:01:46 UTC">20 hours ago</abbr>
      </p>
    </div>
  </div>
</div>


</div>



</div>