<div id="topic_list" class="search_list" >
{% if topics|length_is:"0" %}
<div class="no_result">
No Result
</div>
{% else %}
<!--
{% for topic in topics %}
<div class="topic_item">

<div class="topic_info">
<p class="topic_name"><b>[{{ topic.name }}]</b></p>
</div>

<div class="topic_detail">
{{ topic.detail }}
</div>


</div>
{% endfor %}
-->
<table class="topic_table list_table">
    {% for topic in topics %}
    <tr class="topic_item list_item" onclick="document.location.href='/topic/{{ topic.id }}';">
        <td width="160" class="topic_name first highlight_target"><p>#{{ topic.topic_name }}</p></td>
        <td width="90" ><p>#</p></td>
        <td width="265"><p class="ellipsis topic_detail">{{ topic.topic_detail|striptags|safe }}</p></td>
    </tr>
    {% endfor%}
</table>


{% endif %}
</div>