<ul class="profile_setting setting_list {{ profile_setting }}" style="display:none;">


<li class="setting_item">
<div class="setting_label">
Profile Picture:
</div>
<div class="setting_field">

<a class="fancy_image setting_picture" href="{{ user_profile.picture.url }}" >
    <img src="{{ user_profile.picture.url }}" class="setting_avatar setting_picture"/>
</a>


<div id="file-uploader" style="background-color:#ffffff;">       
    <noscript>          
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>         
</div>
</div>
</li>

<form action="/setting/update/profile" method="post">
{% csrf_token %}
<li class="setting_item">
<div class="setting_label">
User name:
</div>
<div class="setting_field">
{{ user.last_name }}
<a href="#" onclick="$(this).parent().find('.change_field').show(); $(this).remove();  return false;">(change)</a>

<div class="change_field">
    <input id="id_email" type="text" placeholder="이름" name="new_last_name" class="setting_input input_167_25">
</div>
</div>
</li>

<li class="setting_item">
<div class="setting_label">
Dept:
</div>
<div class="setting_field">
{{ user_profile.dept }}
<a href="#" onclick="$(this).parent().find('.change_field').show(); $(this).remove();  return false;">(change)</a>

<div class="change_field">
    <input id="new_dept" type="text" placeholder="소속" name="new_dept" class="setting_input input_167_25">
</div>
</div>
</li>

<li class="setting_item">
<div class="setting_label">
Position:
</div>
<div class="setting_field">
{{ user_profile.position }}
<a href="#" onclick="$(this).parent().find('.change_field').show(); $(this).remove();  return false;">(change)</a>

<div class="change_field">
    <input id="new_position" type="text" placeholder="직급" name="new_position" class="setting_input input_167_25">
</div>
</div>
</li>

<li class="setting_item">
<div class="setting_label">
Phone:
</div>
<div class="setting_field">
{{ user_profile.phone }}
<a href="#" onclick="$(this).parent().find('.change_field').show(); $(this).remove();  return false;">(change)</a>

<div class="change_field">
    <input id="new_phone" type="text" placeholder="핸드폰 번호" name="new_phone" class="setting_input input_167_25">
</div>
</div>
</li>

<li class="setting_item">
<div class="setting_label">
SMS Noti:
</div>
<div class="setting_field">

<div class="change_field" style="display: inline">
    {% if user_profile.receive_phone %}
    <input id="new_receive_phone" type="checkbox" placeholder="" name="new_receive_phone" class="setting_input input_167_25" checked>
    {% else %}
    <input id="new_receive_phone" type="checkbox" placeholder="" name="new_receive_phone" class="setting_input input_167_25" >
    {% endif %}
</div>
</div>
</li>


<li class="setting_item">
<div class="setting_label">
</div>
<div class="setting_field">
<input type="submit" class="button_s" onblur="return false" value="Save"/>
<input type="button" value="Cancel" onclick="document.location.href='/setting'" class="button_s"/>
</div>
</li>

</form>
</ul>