{% include "meta_open.html" %}
<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
    });
    
    var end = new Date();
    var curr_date = end.getDate();
    var curr_month = end.getMonth();
    curr_month++;
    var curr_year = end.getFullYear();
    
    var start = new Date(curr_year, curr_month-1, curr_date - 90);
    $(".startpicker").val(start.getFullYear()+"-"+(start.getMonth()+1)+"-"+start.getDate());
    $(".endpicker").val(curr_year+"-"+curr_month+"-"+curr_date);
});
</script>

<h2 class="page_title">
    Stats By Topic "{{ topic_name }}"
</h2>



{% include "meta_close.html" %}