{% include "meta_open.html" %}
<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd',
    });
    
    var end = new Date();
    var curr_date = end.getDate();
    var curr_month = end.getMonth();
    curr_month++;
    var curr_year = end.getFullYear();
    
    var start = new Date(curr_year, curr_month-1, curr_date - 90);
    $(".startpicker").val(start.getFullYear()+"-"+(start.getMonth()+1)+"-"+start.getDate());
    $(".endpicker").val(curr_year+"-"+curr_month+"-"+curr_date);
});
</script>

<h2 class="page_title">
    Stats By Topic
</h2>


<div class="overview_item">
<h4><span class="ui_icon ui_icon_stats_by_topic"></span> <b class="title">Popular Topics (for last 3 month)</b></h4>


<div class="chart_date_select">
<b>Data From </b>
<input type="text" class="datepicker startpicker" />
<b>To </b>
<input type="text" class="datepicker endpicker" />
<a href="#" onclick="reloadSWFRange($(this),'recent_pop_topics','/chart/recent_pop_topics'); return false;">change</a>
<!-- <span style="margin-left:20px;"><input type="checkbox" style="margin: 0;" onclick="accuSet($(this),'recent_pop_topics','/chart/recent_pop_topics')"/> View Line chart</span> -->
</div>

<script type="text/javascript">
swfobject.embedSWF(
    	  "/static/open-flash-chart2.swf", "recent_pop_topics", 
    	  "525", "200", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/chart/recent_pop_topics"}, {"wmode":"transparent"} );
</script>
<div class="chart" id="recent_pop_topics"></div>

</div>


<div class="overview_item" id="topic_statistics">
<h4><span class="ui_icon ui_icon_topic"></span> <b class="title">Topic Statistics</b></h4>

<div class="chart_date_select">

<div>
    <b>Topic Name</b>
    <input type="text" id="topic_name_input" value="{{ topics.object_list.0.topic_name }}" />
</div>

<b>Data From </b>
<input type="text" class="datepicker startpicker" />
<b>To </b>
<input type="text" class="datepicker endpicker" />
<a href="#" onclick="reloadSWFRange($(this),'recent_topic_stats','/chart/recent_topic_stats/'+$('#topic_name_input').val()); return false;" class="change_btn">change</a>
<span style="margin-left:20px;"><input type="checkbox" style="margin: 0;" onclick="reloadSWFRange($(this).parent(),'recent_topic_stats','/chart/recent_topic_stats/'+$('#topic_name_input').val())"/> Accumulative</span>
</div>

<script type="text/javascript">
swfobject.embedSWF(
    	  "/static/open-flash-chart2.swf", "recent_topic_stats", 
    	  "525", "200", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/chart/recent_topic_stats/{{ topics.object_list.0.topic_name }}"}, {"wmode":"transparent"} );
</script>
<div class="chart" id="recent_topic_stats"></div>

<table class="topic_table list_table">
    <tr>
        <th width="160" class="first"><p>Topic Name</p></th>
        <th width="90" ><p>Feeds</p></th>
        <th width="265"><p>Topic Detail</p></th>
    </tr>
    
    {% for topic in topics.object_list %}
    <tr class="topic_item list_item" onclick="$('#topic_name_input').val($(this).find('.topic_name p').text()); $('#topic_statistics .change_btn').click(); return false;">
        <td class="topic_name first"><p>{{ topic.topic_name }}</p></td>
        <td ><p>{{ topic.reference_count }}</p></td>
        <td><p class="ellipsis topic_detail">{{ topic.topic_detail|striptags|safe }}</p></td>
    </tr>
    {% endfor%}
</table>

{% include "ui/pagination.html" %}
</div>








{% include "meta_close.html" %}