{% include "meta_open.html" %}
<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
        inline: true,
        dateFormat: 'yy-mm-dd'
    });
    
    var end = new Date();
    var curr_date = end.getDate();
    var curr_month = end.getMonth();
    curr_month++;
    var curr_year = end.getFullYear();
    
    var start = new Date(curr_year, curr_month-1, curr_date - 90);
    $(".startpicker").val(start.getFullYear()+"-"+(start.getMonth()+1)+"-"+start.getDate());
    $(".endpicker").val(curr_year+"-"+curr_month+"-"+curr_date);
});
</script>

<h2 class="page_title">
    Stats By Member
</h2>


<div class="overview_item">
<h4><span class="ui_icon ui_icon_stats_by_member"></span> <b class="title">Active Users</b></h4>
<div class="chart_date_select">
<b>Data From </b>
<input type="text" class="datepicker startpicker" />
<b>To </b>
<input type="text" class="datepicker endpicker" />
<a href="#" onclick="reloadSWFRange($(this),'recent_active_users','/chart/recent_active_users'); return false;">change</a>
<!-- <span style="margin-left:20px;"><input type="checkbox" style="margin: 0;" onclick="accuSet($(this),'recent_active_users','/chart/recent_active_users')"/> View Line chart</span> -->
</div>

<script type="text/javascript">
swfobject.embedSWF(
    	  "/static/open-flash-chart2.swf", "recent_active_users", 
    	  "525", "200", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/chart/recent_active_users"}, {"wmode":"transparent"} );
</script>
<div class="chart" id="recent_active_users"></div>

</div>


<div class="overview_item" id="user_statistics">
<h4><span class="ui_icon ui_icon_stats_by_member"></span> <b class="title">User Statistics</b></h4>
<div class="chart_date_select">
<div>
    <b>User ID</b>
    <input type="text" id="user_name_input" value="{{ members.object_list.0.username }}" />
</div>
<b>Data From </b>
<input type="text" class="datepicker startpicker" />
<b>To </b>
<input type="text" class="datepicker endpicker" />
<a href="#" onclick="reloadSWFRange($(this),'recent_user_stats','/chart/recent_user_stats/'+$('#user_name_input').val()); return false;" class="change_btn">change</a>
<span style="margin-left:20px;"><input type="checkbox" style="margin: 0;" onclick="reloadSWFRange($(this).parent(),'recent_user_stats','/chart/recent_user_stats/'+$('#user_name_input').val())"/> Accumulative</span>
</div>

<script type="text/javascript">
swfobject.embedSWF(
    	  "/static/open-flash-chart2.swf", "recent_user_stats", 
    	  "525", "200", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/chart/recent_user_stats/{{ members.object_list.0.username }}"}, {"wmode":"transparent"} );
</script>
<div class="chart" id="recent_user_stats"></div>

<table class="member_table list_table" style="margin-top:10px;">
    <tr>
        <th width="60" class="first"><p></p></th>
        <th width="160" ><p>User</p></th>
        <th width="160"><p>Department/Position</p></th>
    </tr>
    
    {% for member in members.object_list %}
    <tr class="member_item list_item" onclick="$('#user_name_input').val($(this).find('.username a b').text()); $('#user_statistics .change_btn').click(); return false;">
        <td class="first member_picture"><img src='{{ member.picture }}' /></td>
        <td class="name">
            <p class="ellipsis username"><a style="text-decoration:none;">@<b>{{ member.username }}</b></a></p>
            <p class="ellipsis real_name">{{ member.last_name }}</p>
        </td>
        <td class="dept">
            <p>{{ member.profile.dept }}</p>
            <p>{{ member.profile.position }}</p>
        </td>
    </tr>
    {% endfor%}
</table>

{% include "ui/pagination.html" %}

</div>


{% include "meta_close.html" %}